// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$announce-title-name: 'announce_title';
$announce-title-x: 385px;
$announce-title-y: 592px;
$announce-title-offset-x: -385px;
$announce-title-offset-y: -592px;
$announce-title-width: 365px;
$announce-title-height: 84px;
$announce-title-total-width: 1655px;
$announce-title-total-height: 1584px;
$announce-title-image: '/m/images/sprite.png?1544755850039';
$announce-title: (385px, 592px, -385px, -592px, 365px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'announce_title', );
$anonymous-name: 'anonymous';
$anonymous-x: 1212px;
$anonymous-y: 800px;
$anonymous-offset-x: -1212px;
$anonymous-offset-y: -800px;
$anonymous-width: 26px;
$anonymous-height: 23px;
$anonymous-total-width: 1655px;
$anonymous-total-height: 1584px;
$anonymous-image: '/m/images/sprite.png?1544755850039';
$anonymous: (1212px, 800px, -1212px, -800px, 26px, 23px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'anonymous', );
$arr-left-name: 'arr-left';
$arr-left-x: 1517px;
$arr-left-y: 1262px;
$arr-left-offset-x: -1517px;
$arr-left-offset-y: -1262px;
$arr-left-width: 65px;
$arr-left-height: 85px;
$arr-left-total-width: 1655px;
$arr-left-total-height: 1584px;
$arr-left-image: '/m/images/sprite.png?1544755850039';
$arr-left: (1517px, 1262px, -1517px, -1262px, 65px, 85px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'arr-left', );
$arr-right-name: 'arr-right';
$arr-right-x: 0px;
$arr-right-y: 1499px;
$arr-right-offset-x: 0px;
$arr-right-offset-y: -1499px;
$arr-right-width: 65px;
$arr-right-height: 85px;
$arr-right-total-width: 1655px;
$arr-right-total-height: 1584px;
$arr-right-image: '/m/images/sprite.png?1544755850039';
$arr-right: (0px, 1499px, 0px, -1499px, 65px, 85px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'arr-right', );
$brandstory-title-name: 'brandstory_title';
$brandstory-title-x: 774px;
$brandstory-title-y: 800px;
$brandstory-title-offset-x: -774px;
$brandstory-title-offset-y: -800px;
$brandstory-title-width: 364px;
$brandstory-title-height: 79px;
$brandstory-title-total-width: 1655px;
$brandstory-title-total-height: 1584px;
$brandstory-title-image: '/m/images/sprite.png?1544755850039';
$brandstory-title: (774px, 800px, -774px, -800px, 364px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'brandstory_title', );
$btn-map-add-name: 'btn_map_add';
$btn-map-add-x: 845px;
$btn-map-add-y: 218px;
$btn-map-add-offset-x: -845px;
$btn-map-add-offset-y: -218px;
$btn-map-add-width: 16px;
$btn-map-add-height: 15px;
$btn-map-add-total-width: 1655px;
$btn-map-add-total-height: 1584px;
$btn-map-add-image: '/m/images/sprite.png?1544755850039';
$btn-map-add: (845px, 218px, -845px, -218px, 16px, 15px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'btn_map_add', );
$campus-info-title-name: 'campus_info_title';
$campus-info-title-x: 768px;
$campus-info-title-y: 1055px;
$campus-info-title-offset-x: -768px;
$campus-info-title-offset-y: -1055px;
$campus-info-title-width: 164px;
$campus-info-title-height: 19px;
$campus-info-title-total-width: 1655px;
$campus-info-title-total-height: 1584px;
$campus-info-title-image: '/m/images/sprite.png?1544755850039';
$campus-info-title: (768px, 1055px, -768px, -1055px, 164px, 19px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'campus_info_title', );
$cert-info-title-name: 'cert_info_title';
$cert-info-title-x: 384px;
$cert-info-title-y: 1000px;
$cert-info-title-offset-x: -384px;
$cert-info-title-offset-y: -1000px;
$cert-info-title-width: 364px;
$cert-info-title-height: 79px;
$cert-info-title-total-width: 1655px;
$cert-info-title-total-height: 1584px;
$cert-info-title-image: '/m/images/sprite.png?1544755850039';
$cert-info-title: (384px, 1000px, -384px, -1000px, 364px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'cert_info_title', );
$class-information-title-name: 'class_information_title';
$class-information-title-x: 0px;
$class-information-title-y: 800px;
$class-information-title-offset-x: 0px;
$class-information-title-offset-y: -800px;
$class-information-title-width: 366px;
$class-information-title-height: 81px;
$class-information-title-total-width: 1655px;
$class-information-title-total-height: 1584px;
$class-information-title-image: '/m/images/sprite.png?1544755850039';
$class-information-title: (0px, 800px, 0px, -800px, 366px, 81px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'class_information_title', );
$company-edu-content2-title-img-name: 'company_edu_content2_title_img';
$company-edu-content2-title-img-x: 1267px;
$company-edu-content2-title-img-y: 1168px;
$company-edu-content2-title-img-offset-x: -1267px;
$company-edu-content2-title-img-offset-y: -1168px;
$company-edu-content2-title-img-width: 196px;
$company-edu-content2-title-img-height: 47px;
$company-edu-content2-title-img-total-width: 1655px;
$company-edu-content2-title-img-total-height: 1584px;
$company-edu-content2-title-img-image: '/m/images/sprite.png?1544755850039';
$company-edu-content2-title-img: (1267px, 1168px, -1267px, -1168px, 196px, 47px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'company_edu_content2_title_img', );
$company-edu-title-name: 'company_edu_title';
$company-edu-title-x: 0px;
$company-edu-title-y: 403px;
$company-edu-title-offset-x: 0px;
$company-edu-title-offset-y: -403px;
$company-edu-title-width: 444px;
$company-edu-title-height: 79px;
$company-edu-title-total-width: 1655px;
$company-edu-title-total-height: 1584px;
$company-edu-title-image: '/m/images/sprite.png?1544755850039';
$company-edu-title: (0px, 403px, 0px, -403px, 444px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'company_edu_title', );
$counsel-title-name: 'counsel_title';
$counsel-title-x: 768px;
$counsel-title-y: 901px;
$counsel-title-offset-x: -768px;
$counsel-title-offset-y: -901px;
$counsel-title-width: 364px;
$counsel-title-height: 79px;
$counsel-title-total-width: 1655px;
$counsel-title-total-height: 1584px;
$counsel-title-image: '/m/images/sprite.png?1544755850039';
$counsel-title: (768px, 901px, -768px, -901px, 364px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'counsel_title', );
$curri-img01-new-name: 'curri_img01_new';
$curri-img01-new-x: 0px;
$curri-img01-new-y: 0px;
$curri-img01-new-offset-x: 0px;
$curri-img01-new-offset-y: 0px;
$curri-img01-new-width: 440px;
$curri-img01-new-height: 230px;
$curri-img01-new-total-width: 1655px;
$curri-img01-new-total-height: 1584px;
$curri-img01-new-image: '/m/images/sprite.png?1544755850039';
$curri-img01-new: (0px, 0px, 0px, 0px, 440px, 230px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'curri_img01_new', );
$employed-title-name: 'employed_title';
$employed-title-x: 384px;
$employed-title-y: 901px;
$employed-title-offset-x: -384px;
$employed-title-offset-y: -901px;
$employed-title-width: 364px;
$employed-title-height: 79px;
$employed-title-total-width: 1655px;
$employed-title-total-height: 1584px;
$employed-title-image: '/m/images/sprite.png?1544755850039';
$employed-title: (384px, 901px, -384px, -901px, 364px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'employed_title', );
$employed-title-new-name: 'employed_title_new';
$employed-title-new-x: 460px;
$employed-title-new-y: 0px;
$employed-title-new-offset-x: -460px;
$employed-title-new-offset-y: 0px;
$employed-title-new-width: 403px;
$employed-title-new-height: 133px;
$employed-title-new-total-width: 1655px;
$employed-title-new-total-height: 1584px;
$employed-title-new-image: '/m/images/sprite.png?1544755850039';
$employed-title-new: (460px, 0px, -460px, 0px, 403px, 133px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'employed_title_new', );
$ep-bg-name: 'ep_bg';
$ep-bg-x: 1158px;
$ep-bg-y: 800px;
$ep-bg-offset-x: -1158px;
$ep-bg-offset-y: -800px;
$ep-bg-width: 34px;
$ep-bg-height: 36px;
$ep-bg-total-width: 1655px;
$ep-bg-total-height: 1584px;
$ep-bg-image: '/m/images/sprite.png?1544755850039';
$ep-bg: (1158px, 800px, -1158px, -800px, 34px, 36px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'ep_bg', );
$ep-title-name: 'ep_title';
$ep-title-x: 883px;
$ep-title-y: 520px;
$ep-title-offset-x: -883px;
$ep-title-offset-y: -520px;
$ep-title-width: 364px;
$ep-title-height: 79px;
$ep-title-total-width: 1655px;
$ep-title-total-height: 1584px;
$ep-title-image: '/m/images/sprite.png?1544755850039';
$ep-title: (883px, 520px, -883px, -520px, 364px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'ep_title', );
$footer-ico1-name: 'footer_ico1';
$footer-ico1-x: 839px;
$footer-ico1-y: 696px;
$footer-ico1-offset-x: -839px;
$footer-ico1-offset-y: -696px;
$footer-ico1-width: 22px;
$footer-ico1-height: 21px;
$footer-ico1-total-width: 1655px;
$footer-ico1-total-height: 1584px;
$footer-ico1-image: '/m/images/sprite.png?1544755850039';
$footer-ico1: (839px, 696px, -839px, -696px, 22px, 21px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'footer_ico1', );
$footer-ico2-name: 'footer_ico2';
$footer-ico2-x: 1637px;
$footer-ico2-y: 1207px;
$footer-ico2-offset-x: -1637px;
$footer-ico2-offset-y: -1207px;
$footer-ico2-width: 18px;
$footer-ico2-height: 21px;
$footer-ico2-total-width: 1655px;
$footer-ico2-total-height: 1584px;
$footer-ico2-image: '/m/images/sprite.png?1544755850039';
$footer-ico2: (1637px, 1207px, -1637px, -1207px, 18px, 21px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'footer_ico2', );
$history-title-name: 'history_title';
$history-title-x: 883px;
$history-title-y: 619px;
$history-title-offset-x: -883px;
$history-title-offset-y: -619px;
$history-title-width: 364px;
$history-title-height: 79px;
$history-title-total-width: 1655px;
$history-title-total-height: 1584px;
$history-title-image: '/m/images/sprite.png?1544755850039';
$history-title: (883px, 619px, -883px, -619px, 364px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'history_title', );
$hrd-campus-200600964-name: 'hrd_campus_200600964';
$hrd-campus-200600964-x: 750px;
$hrd-campus-200600964-y: 1099px;
$hrd-campus-200600964-offset-x: -750px;
$hrd-campus-200600964-offset-y: -1099px;
$hrd-campus-200600964-width: 230px;
$hrd-campus-200600964-height: 126px;
$hrd-campus-200600964-total-width: 1655px;
$hrd-campus-200600964-total-height: 1584px;
$hrd-campus-200600964-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-200600964: (750px, 1099px, -750px, -1099px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_200600964', );
$hrd-campus-200701532-name: 'hrd_campus_200701532';
$hrd-campus-200701532-x: 0px;
$hrd-campus-200701532-y: 1099px;
$hrd-campus-200701532-offset-x: 0px;
$hrd-campus-200701532-offset-y: -1099px;
$hrd-campus-200701532-width: 230px;
$hrd-campus-200701532-height: 126px;
$hrd-campus-200701532-total-width: 1655px;
$hrd-campus-200701532-total-height: 1584px;
$hrd-campus-200701532-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-200701532: (0px, 1099px, 0px, -1099px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_200701532', );
$hrd-campus-200701612-name: 'hrd_campus_200701612';
$hrd-campus-200701612-x: 250px;
$hrd-campus-200701612-y: 1099px;
$hrd-campus-200701612-offset-x: -250px;
$hrd-campus-200701612-offset-y: -1099px;
$hrd-campus-200701612-width: 230px;
$hrd-campus-200701612-height: 126px;
$hrd-campus-200701612-total-width: 1655px;
$hrd-campus-200701612-total-height: 1584px;
$hrd-campus-200701612-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-200701612: (250px, 1099px, -250px, -1099px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_200701612', );
$hrd-campus-200701876-name: 'hrd_campus_200701876';
$hrd-campus-200701876-x: 1267px;
$hrd-campus-200701876-y: 1022px;
$hrd-campus-200701876-offset-x: -1267px;
$hrd-campus-200701876-offset-y: -1022px;
$hrd-campus-200701876-width: 230px;
$hrd-campus-200701876-height: 126px;
$hrd-campus-200701876-total-width: 1655px;
$hrd-campus-200701876-total-height: 1584px;
$hrd-campus-200701876-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-200701876: (1267px, 1022px, -1267px, -1022px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_200701876', );
$hrd-campus-200800323-name: 'hrd_campus_200800323';
$hrd-campus-200800323-x: 1267px;
$hrd-campus-200800323-y: 876px;
$hrd-campus-200800323-offset-x: -1267px;
$hrd-campus-200800323-offset-y: -876px;
$hrd-campus-200800323-width: 230px;
$hrd-campus-200800323-height: 126px;
$hrd-campus-200800323-total-width: 1655px;
$hrd-campus-200800323-total-height: 1584px;
$hrd-campus-200800323-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-200800323: (1267px, 876px, -1267px, -876px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_200800323', );
$hrd-campus-200801348-name: 'hrd_campus_200801348';
$hrd-campus-200801348-x: 1267px;
$hrd-campus-200801348-y: 730px;
$hrd-campus-200801348-offset-x: -1267px;
$hrd-campus-200801348-offset-y: -730px;
$hrd-campus-200801348-width: 230px;
$hrd-campus-200801348-height: 126px;
$hrd-campus-200801348-total-width: 1655px;
$hrd-campus-200801348-total-height: 1584px;
$hrd-campus-200801348-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-200801348: (1267px, 730px, -1267px, -730px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_200801348', );
$hrd-campus-200801529-name: 'hrd_campus_200801529';
$hrd-campus-200801529-x: 1267px;
$hrd-campus-200801529-y: 584px;
$hrd-campus-200801529-offset-x: -1267px;
$hrd-campus-200801529-offset-y: -584px;
$hrd-campus-200801529-width: 230px;
$hrd-campus-200801529-height: 126px;
$hrd-campus-200801529-total-width: 1655px;
$hrd-campus-200801529-total-height: 1584px;
$hrd-campus-200801529-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-200801529: (1267px, 584px, -1267px, -584px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_200801529', );
$hrd-campus-200900755-name: 'hrd_campus_200900755';
$hrd-campus-200900755-x: 1267px;
$hrd-campus-200900755-y: 438px;
$hrd-campus-200900755-offset-x: -1267px;
$hrd-campus-200900755-offset-y: -438px;
$hrd-campus-200900755-width: 230px;
$hrd-campus-200900755-height: 126px;
$hrd-campus-200900755-total-width: 1655px;
$hrd-campus-200900755-total-height: 1584px;
$hrd-campus-200900755-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-200900755: (1267px, 438px, -1267px, -438px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_200900755', );
$hrd-campus-201001028-name: 'hrd_campus_201001028';
$hrd-campus-201001028-x: 1267px;
$hrd-campus-201001028-y: 292px;
$hrd-campus-201001028-offset-x: -1267px;
$hrd-campus-201001028-offset-y: -292px;
$hrd-campus-201001028-width: 230px;
$hrd-campus-201001028-height: 126px;
$hrd-campus-201001028-total-width: 1655px;
$hrd-campus-201001028-total-height: 1584px;
$hrd-campus-201001028-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-201001028: (1267px, 292px, -1267px, -292px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_201001028', );
$hrd-campus-201002184-name: 'hrd_campus_201002184';
$hrd-campus-201002184-x: 1267px;
$hrd-campus-201002184-y: 0px;
$hrd-campus-201002184-offset-x: -1267px;
$hrd-campus-201002184-offset-y: 0px;
$hrd-campus-201002184-width: 230px;
$hrd-campus-201002184-height: 126px;
$hrd-campus-201002184-total-width: 1655px;
$hrd-campus-201002184-total-height: 1584px;
$hrd-campus-201002184-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-201002184: (1267px, 0px, -1267px, 0px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_201002184', );
$hrd-campus-201400511-name: 'hrd_campus_201400511';
$hrd-campus-201400511-x: 1000px;
$hrd-campus-201400511-y: 1099px;
$hrd-campus-201400511-offset-x: -1000px;
$hrd-campus-201400511-offset-y: -1099px;
$hrd-campus-201400511-width: 230px;
$hrd-campus-201400511-height: 126px;
$hrd-campus-201400511-total-width: 1655px;
$hrd-campus-201400511-total-height: 1584px;
$hrd-campus-201400511-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-201400511: (1000px, 1099px, -1000px, -1099px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_201400511', );
$hrd-campus-201502519-name: 'hrd_campus_201502519';
$hrd-campus-201502519-x: 1267px;
$hrd-campus-201502519-y: 146px;
$hrd-campus-201502519-offset-x: -1267px;
$hrd-campus-201502519-offset-y: -146px;
$hrd-campus-201502519-width: 230px;
$hrd-campus-201502519-height: 126px;
$hrd-campus-201502519-total-width: 1655px;
$hrd-campus-201502519-total-height: 1584px;
$hrd-campus-201502519-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-201502519: (1267px, 146px, -1267px, -146px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_201502519', );
$hrd-campus-201703807-name: 'hrd_campus_201703807';
$hrd-campus-201703807-x: 500px;
$hrd-campus-201703807-y: 1099px;
$hrd-campus-201703807-offset-x: -500px;
$hrd-campus-201703807-offset-y: -1099px;
$hrd-campus-201703807-width: 230px;
$hrd-campus-201703807-height: 126px;
$hrd-campus-201703807-total-width: 1655px;
$hrd-campus-201703807-total-height: 1584px;
$hrd-campus-201703807-image: '/m/images/sprite.png?1544755850039';
$hrd-campus-201703807: (500px, 1099px, -500px, -1099px, 230px, 126px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_campus_201703807', );
$hrd-search-title-name: 'hrd_search_title';
$hrd-search-title-x: 386px;
$hrd-search-title-y: 800px;
$hrd-search-title-offset-x: -386px;
$hrd-search-title-offset-y: -800px;
$hrd-search-title-width: 368px;
$hrd-search-title-height: 79px;
$hrd-search-title-total-width: 1655px;
$hrd-search-title-total-height: 1584px;
$hrd-search-title-image: '/m/images/sprite.png?1544755850039';
$hrd-search-title: (386px, 800px, -386px, -800px, 368px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'hrd_search_title', );
$ico-nblog-name: 'ico_nblog';
$ico-nblog-x: 770px;
$ico-nblog-y: 592px;
$ico-nblog-offset-x: -770px;
$ico-nblog-offset-y: -592px;
$ico-nblog-width: 64px;
$ico-nblog-height: 53px;
$ico-nblog-total-width: 1655px;
$ico-nblog-total-height: 1584px;
$ico-nblog-image: '/m/images/sprite.png?1544755850039';
$ico-nblog: (770px, 592px, -770px, -592px, 64px, 53px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'ico_nblog', );
$ico-ntv-name: 'ico_ntv';
$ico-ntv-x: 745px;
$ico-ntv-y: 502px;
$ico-ntv-offset-x: -745px;
$ico-ntv-offset-y: -502px;
$ico-ntv-width: 64px;
$ico-ntv-height: 34px;
$ico-ntv-total-width: 1655px;
$ico-ntv-total-height: 1584px;
$ico-ntv-image: '/m/images/sprite.png?1544755850039';
$ico-ntv: (745px, 502px, -745px, -502px, 64px, 34px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'ico_ntv', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 770px;
$icon-facebook-y: 696px;
$icon-facebook-offset-x: -770px;
$icon-facebook-offset-y: -696px;
$icon-facebook-width: 49px;
$icon-facebook-height: 49px;
$icon-facebook-total-width: 1655px;
$icon-facebook-total-height: 1584px;
$icon-facebook-image: '/m/images/sprite.png?1544755850039';
$icon-facebook: (770px, 696px, -770px, -696px, 49px, 49px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'icon_facebook', );
$icon-mobile-notice-name: 'icon_mobile_notice';
$icon-mobile-notice-x: 829px;
$icon-mobile-notice-y: 502px;
$icon-mobile-notice-offset-x: -829px;
$icon-mobile-notice-offset-y: -502px;
$icon-mobile-notice-width: 25px;
$icon-mobile-notice-height: 26px;
$icon-mobile-notice-total-width: 1655px;
$icon-mobile-notice-total-height: 1584px;
$icon-mobile-notice-image: '/m/images/sprite.png?1544755850039';
$icon-mobile-notice: (829px, 502px, -829px, -502px, 25px, 26px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'icon_mobile_notice', );
$icon-navertv-name: 'icon_navertv';
$icon-navertv-x: 1602px;
$icon-navertv-y: 1262px;
$icon-navertv-offset-x: -1602px;
$icon-navertv-offset-y: -1262px;
$icon-navertv-width: 49px;
$icon-navertv-height: 49px;
$icon-navertv-total-width: 1655px;
$icon-navertv-total-height: 1584px;
$icon-navertv-image: '/m/images/sprite.png?1544755850039';
$icon-navertv: (1602px, 1262px, -1602px, -1262px, 49px, 49px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'icon_navertv', );
$l-menu-img1-name: 'l_menu_img1';
$l-menu-img1-x: 1517px;
$l-menu-img1-y: 1030px;
$l-menu-img1-offset-x: -1517px;
$l-menu-img1-offset-y: -1030px;
$l-menu-img1-width: 138px;
$l-menu-img1-height: 91px;
$l-menu-img1-total-width: 1655px;
$l-menu-img1-total-height: 1584px;
$l-menu-img1-image: '/m/images/sprite.png?1544755850039';
$l-menu-img1: (1517px, 1030px, -1517px, -1030px, 138px, 91px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_menu_img1', );
$l-menu-img3-name: 'l_menu_img3';
$l-menu-img3-x: 1517px;
$l-menu-img3-y: 442px;
$l-menu-img3-offset-x: -1517px;
$l-menu-img3-offset-y: -442px;
$l-menu-img3-width: 138px;
$l-menu-img3-height: 127px;
$l-menu-img3-total-width: 1655px;
$l-menu-img3-total-height: 1584px;
$l-menu-img3-image: '/m/images/sprite.png?1544755850039';
$l-menu-img3: (1517px, 442px, -1517px, -442px, 138px, 127px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_menu_img3', );
$l-menu-img4-name: 'l_menu_img4';
$l-menu-img4-x: 1517px;
$l-menu-img4-y: 295px;
$l-menu-img4-offset-x: -1517px;
$l-menu-img4-offset-y: -295px;
$l-menu-img4-width: 138px;
$l-menu-img4-height: 127px;
$l-menu-img4-total-width: 1655px;
$l-menu-img4-total-height: 1584px;
$l-menu-img4-image: '/m/images/sprite.png?1544755850039';
$l-menu-img4: (1517px, 295px, -1517px, -295px, 138px, 127px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_menu_img4', );
$l-menu-img5-name: 'l_menu_img5';
$l-menu-img5-x: 1517px;
$l-menu-img5-y: 148px;
$l-menu-img5-offset-x: -1517px;
$l-menu-img5-offset-y: -148px;
$l-menu-img5-width: 138px;
$l-menu-img5-height: 127px;
$l-menu-img5-total-width: 1655px;
$l-menu-img5-total-height: 1584px;
$l-menu-img5-image: '/m/images/sprite.png?1544755850039';
$l-menu-img5: (1517px, 148px, -1517px, -148px, 138px, 127px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_menu_img5', );
$l-menu-img6-name: 'l_menu_img6';
$l-menu-img6-x: 1517px;
$l-menu-img6-y: 883px;
$l-menu-img6-offset-x: -1517px;
$l-menu-img6-offset-y: -883px;
$l-menu-img6-width: 138px;
$l-menu-img6-height: 127px;
$l-menu-img6-total-width: 1655px;
$l-menu-img6-total-height: 1584px;
$l-menu-img6-image: '/m/images/sprite.png?1544755850039';
$l-menu-img6: (1517px, 883px, -1517px, -883px, 138px, 127px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_menu_img6', );
$l-menu-img7-name: 'l_menu_img7';
$l-menu-img7-x: 1517px;
$l-menu-img7-y: 0px;
$l-menu-img7-offset-x: -1517px;
$l-menu-img7-offset-y: 0px;
$l-menu-img7-width: 138px;
$l-menu-img7-height: 128px;
$l-menu-img7-total-width: 1655px;
$l-menu-img7-total-height: 1584px;
$l-menu-img7-image: '/m/images/sprite.png?1544755850039';
$l-menu-img7: (1517px, 0px, -1517px, 0px, 138px, 128px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_menu_img7', );
$l-menu-img8-name: 'l_menu_img8';
$l-menu-img8-x: 1517px;
$l-menu-img8-y: 736px;
$l-menu-img8-offset-x: -1517px;
$l-menu-img8-offset-y: -736px;
$l-menu-img8-width: 138px;
$l-menu-img8-height: 127px;
$l-menu-img8-total-width: 1655px;
$l-menu-img8-total-height: 1584px;
$l-menu-img8-image: '/m/images/sprite.png?1544755850039';
$l-menu-img8: (1517px, 736px, -1517px, -736px, 138px, 127px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_menu_img8', );
$l-menu-logo-name: 'l_menu_logo';
$l-menu-logo-x: 0px;
$l-menu-logo-y: 502px;
$l-menu-logo-offset-x: 0px;
$l-menu-logo-offset-y: -502px;
$l-menu-logo-width: 452px;
$l-menu-logo-height: 70px;
$l-menu-logo-total-width: 1655px;
$l-menu-logo-total-height: 1584px;
$l-menu-logo-image: '/m/images/sprite.png?1544755850039';
$l-menu-logo: (0px, 502px, 0px, -502px, 452px, 70px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_menu_logo', );
$l-vacation-winter2018-name: 'l_vacation_winter2018';
$l-vacation-winter2018-x: 1517px;
$l-vacation-winter2018-y: 589px;
$l-vacation-winter2018-offset-x: -1517px;
$l-vacation-winter2018-offset-y: -589px;
$l-vacation-winter2018-width: 138px;
$l-vacation-winter2018-height: 127px;
$l-vacation-winter2018-total-width: 1655px;
$l-vacation-winter2018-total-height: 1584px;
$l-vacation-winter2018-image: '/m/images/sprite.png?1544755850039';
$l-vacation-winter2018: (1517px, 589px, -1517px, -589px, 138px, 127px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'l_vacation_winter2018', );
$m-footer-logo2-name: 'm_footer_logo2';
$m-footer-logo2-x: 1200px;
$m-footer-logo2-y: 1378px;
$m-footer-logo2-offset-x: -1200px;
$m-footer-logo2-offset-y: -1378px;
$m-footer-logo2-width: 150px;
$m-footer-logo2-height: 57px;
$m-footer-logo2-total-width: 1655px;
$m-footer-logo2-total-height: 1584px;
$m-footer-logo2-image: '/m/images/sprite.png?1544755850039';
$m-footer-logo2: (1200px, 1378px, -1200px, -1378px, 150px, 57px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'm_footer_logo2', );
$m-main-logo-name: 'm_main_logo';
$m-main-logo-x: 0px;
$m-main-logo-y: 1245px;
$m-main-logo-offset-x: 0px;
$m-main-logo-offset-y: -1245px;
$m-main-logo-width: 240px;
$m-main-logo-height: 113px;
$m-main-logo-total-width: 1655px;
$m-main-logo-total-height: 1584px;
$m-main-logo-image: '/m/images/sprite.png?1544755850039';
$m-main-logo: (0px, 1245px, 0px, -1245px, 240px, 113px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'm_main_logo', );
$m-portfolio-title-name: 'm_portfolio_title';
$m-portfolio-title-x: 768px;
$m-portfolio-title-y: 1000px;
$m-portfolio-title-offset-x: -768px;
$m-portfolio-title-offset-y: -1000px;
$m-portfolio-title-width: 232px;
$m-portfolio-title-height: 35px;
$m-portfolio-title-total-width: 1655px;
$m-portfolio-title-total-height: 1584px;
$m-portfolio-title-image: '/m/images/sprite.png?1544755850039';
$m-portfolio-title: (768px, 1000px, -768px, -1000px, 232px, 35px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'm_portfolio_title', );
$m-teacher-left-arrow-name: 'm_teacher_left_arrow';
$m-teacher-left-arrow-x: 845px;
$m-teacher-left-arrow-y: 153px;
$m-teacher-left-arrow-offset-x: -845px;
$m-teacher-left-arrow-offset-y: -153px;
$m-teacher-left-arrow-width: 16px;
$m-teacher-left-arrow-height: 45px;
$m-teacher-left-arrow-total-width: 1655px;
$m-teacher-left-arrow-total-height: 1584px;
$m-teacher-left-arrow-image: '/m/images/sprite.png?1544755850039';
$m-teacher-left-arrow: (845px, 153px, -845px, -153px, 16px, 45px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'm_teacher_left_arrow', );
$m-teacher-right-arrow-name: 'm_teacher_right_arrow';
$m-teacher-right-arrow-x: 1637px;
$m-teacher-right-arrow-y: 1141px;
$m-teacher-right-arrow-offset-x: -1637px;
$m-teacher-right-arrow-offset-y: -1141px;
$m-teacher-right-arrow-width: 17px;
$m-teacher-right-arrow-height: 46px;
$m-teacher-right-arrow-total-width: 1655px;
$m-teacher-right-arrow-total-height: 1584px;
$m-teacher-right-arrow-image: '/m/images/sprite.png?1544755850039';
$m-teacher-right-arrow: (1637px, 1141px, -1637px, -1141px, 17px, 46px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'm_teacher_right_arrow', );
$mark-3year-name: 'mark_3year';
$mark-3year-x: 1143px;
$mark-3year-y: 718px;
$mark-3year-offset-x: -1143px;
$mark-3year-offset-y: -718px;
$mark-3year-width: 72px;
$mark-3year-height: 52px;
$mark-3year-total-width: 1655px;
$mark-3year-total-height: 1584px;
$mark-3year-image: '/m/images/sprite.png?1544755850039';
$mark-3year: (1143px, 718px, -1143px, -718px, 72px, 52px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'mark_3year', );
$privacyp-title-name: 'privacyp_title';
$privacyp-title-x: 0px;
$privacyp-title-y: 901px;
$privacyp-title-offset-x: 0px;
$privacyp-title-offset-y: -901px;
$privacyp-title-width: 364px;
$privacyp-title-height: 79px;
$privacyp-title-total-width: 1655px;
$privacyp-title-total-height: 1584px;
$privacyp-title-image: '/m/images/sprite.png?1544755850039';
$privacyp-title: (0px, 901px, 0px, -901px, 364px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'privacyp_title', );
$quick-btn-name: 'quick-btn';
$quick-btn-x: 883px;
$quick-btn-y: 718px;
$quick-btn-offset-x: -883px;
$quick-btn-offset-y: -718px;
$quick-btn-width: 240px;
$quick-btn-height: 60px;
$quick-btn-total-width: 1655px;
$quick-btn-total-height: 1584px;
$quick-btn-image: '/m/images/sprite.png?1544755850039';
$quick-btn: (883px, 718px, -883px, -718px, 240px, 60px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'quick-btn', );
$r-box-down-arr-name: 'r_box_down_arr';
$r-box-down-arr-x: 1602px;
$r-box-down-arr-y: 1331px;
$r-box-down-arr-offset-x: -1602px;
$r-box-down-arr-offset-y: -1331px;
$r-box-down-arr-width: 26px;
$r-box-down-arr-height: 16px;
$r-box-down-arr-total-width: 1655px;
$r-box-down-arr-total-height: 1584px;
$r-box-down-arr-image: '/m/images/sprite.png?1544755850039';
$r-box-down-arr: (1602px, 1331px, -1602px, -1331px, 26px, 16px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'r_box_down_arr', );
$review-icon1-1-name: 'review_icon1_1';
$review-icon1-1-x: 1220px;
$review-icon1-1-y: 1245px;
$review-icon1-1-offset-x: -1220px;
$review-icon1-1-offset-y: -1245px;
$review-icon1-1-width: 100px;
$review-icon1-1-height: 101px;
$review-icon1-1-total-width: 1655px;
$review-icon1-1-total-height: 1584px;
$review-icon1-1-image: '/m/images/sprite.png?1544755850039';
$review-icon1-1: (1220px, 1245px, -1220px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon1_1', );
$review-icon1-2-name: 'review_icon1_2';
$review-icon1-2-x: 1517px;
$review-icon1-2-y: 1141px;
$review-icon1-2-offset-x: -1517px;
$review-icon1-2-offset-y: -1141px;
$review-icon1-2-width: 100px;
$review-icon1-2-height: 101px;
$review-icon1-2-total-width: 1655px;
$review-icon1-2-total-height: 1584px;
$review-icon1-2-image: '/m/images/sprite.png?1544755850039';
$review-icon1-2: (1517px, 1141px, -1517px, -1141px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon1_2', );
$review-icon1-3-name: 'review_icon1_3';
$review-icon1-3-x: 840px;
$review-icon1-3-y: 1378px;
$review-icon1-3-offset-x: -840px;
$review-icon1-3-offset-y: -1378px;
$review-icon1-3-width: 100px;
$review-icon1-3-height: 101px;
$review-icon1-3-total-width: 1655px;
$review-icon1-3-total-height: 1584px;
$review-icon1-3-image: '/m/images/sprite.png?1544755850039';
$review-icon1-3: (840px, 1378px, -840px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon1_3', );
$review-icon2-1-name: 'review_icon2_1';
$review-icon2-1-x: 720px;
$review-icon2-1-y: 1378px;
$review-icon2-1-offset-x: -720px;
$review-icon2-1-offset-y: -1378px;
$review-icon2-1-width: 100px;
$review-icon2-1-height: 101px;
$review-icon2-1-total-width: 1655px;
$review-icon2-1-total-height: 1584px;
$review-icon2-1-image: '/m/images/sprite.png?1544755850039';
$review-icon2-1: (720px, 1378px, -720px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon2_1', );
$review-icon2-2-name: 'review_icon2_2';
$review-icon2-2-x: 600px;
$review-icon2-2-y: 1378px;
$review-icon2-2-offset-x: -600px;
$review-icon2-2-offset-y: -1378px;
$review-icon2-2-width: 100px;
$review-icon2-2-height: 101px;
$review-icon2-2-total-width: 1655px;
$review-icon2-2-total-height: 1584px;
$review-icon2-2-image: '/m/images/sprite.png?1544755850039';
$review-icon2-2: (600px, 1378px, -600px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon2_2', );
$review-icon2-3-name: 'review_icon2_3';
$review-icon2-3-x: 480px;
$review-icon2-3-y: 1378px;
$review-icon2-3-offset-x: -480px;
$review-icon2-3-offset-y: -1378px;
$review-icon2-3-width: 100px;
$review-icon2-3-height: 101px;
$review-icon2-3-total-width: 1655px;
$review-icon2-3-total-height: 1584px;
$review-icon2-3-image: '/m/images/sprite.png?1544755850039';
$review-icon2-3: (480px, 1378px, -480px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon2_3', );
$review-icon3-1-name: 'review_icon3_1';
$review-icon3-1-x: 360px;
$review-icon3-1-y: 1378px;
$review-icon3-1-offset-x: -360px;
$review-icon3-1-offset-y: -1378px;
$review-icon3-1-width: 100px;
$review-icon3-1-height: 101px;
$review-icon3-1-total-width: 1655px;
$review-icon3-1-total-height: 1584px;
$review-icon3-1-image: '/m/images/sprite.png?1544755850039';
$review-icon3-1: (360px, 1378px, -360px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon3_1', );
$review-icon3-2-name: 'review_icon3_2';
$review-icon3-2-x: 240px;
$review-icon3-2-y: 1378px;
$review-icon3-2-offset-x: -240px;
$review-icon3-2-offset-y: -1378px;
$review-icon3-2-width: 100px;
$review-icon3-2-height: 101px;
$review-icon3-2-total-width: 1655px;
$review-icon3-2-total-height: 1584px;
$review-icon3-2-image: '/m/images/sprite.png?1544755850039';
$review-icon3-2: (240px, 1378px, -240px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon3_2', );
$review-icon3-3-name: 'review_icon3_3';
$review-icon3-3-x: 120px;
$review-icon3-3-y: 1378px;
$review-icon3-3-offset-x: -120px;
$review-icon3-3-offset-y: -1378px;
$review-icon3-3-width: 100px;
$review-icon3-3-height: 101px;
$review-icon3-3-total-width: 1655px;
$review-icon3-3-total-height: 1584px;
$review-icon3-3-image: '/m/images/sprite.png?1544755850039';
$review-icon3-3: (120px, 1378px, -120px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon3_3', );
$review-icon4-1-name: 'review_icon4_1';
$review-icon4-1-x: 0px;
$review-icon4-1-y: 1378px;
$review-icon4-1-offset-x: 0px;
$review-icon4-1-offset-y: -1378px;
$review-icon4-1-width: 100px;
$review-icon4-1-height: 101px;
$review-icon4-1-total-width: 1655px;
$review-icon4-1-total-height: 1584px;
$review-icon4-1-image: '/m/images/sprite.png?1544755850039';
$review-icon4-1: (0px, 1378px, 0px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon4_1', );
$review-icon4-2-name: 'review_icon4_2';
$review-icon4-2-x: 1340px;
$review-icon4-2-y: 1245px;
$review-icon4-2-offset-x: -1340px;
$review-icon4-2-offset-y: -1245px;
$review-icon4-2-width: 100px;
$review-icon4-2-height: 101px;
$review-icon4-2-total-width: 1655px;
$review-icon4-2-total-height: 1584px;
$review-icon4-2-image: '/m/images/sprite.png?1544755850039';
$review-icon4-2: (1340px, 1245px, -1340px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon4_2', );
$review-icon4-3-name: 'review_icon4_3';
$review-icon4-3-x: 980px;
$review-icon4-3-y: 1245px;
$review-icon4-3-offset-x: -980px;
$review-icon4-3-offset-y: -1245px;
$review-icon4-3-width: 100px;
$review-icon4-3-height: 101px;
$review-icon4-3-total-width: 1655px;
$review-icon4-3-total-height: 1584px;
$review-icon4-3-image: '/m/images/sprite.png?1544755850039';
$review-icon4-3: (980px, 1245px, -980px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon4_3', );
$review-icon5-1-name: 'review_icon5_1';
$review-icon5-1-x: 860px;
$review-icon5-1-y: 1245px;
$review-icon5-1-offset-x: -860px;
$review-icon5-1-offset-y: -1245px;
$review-icon5-1-width: 100px;
$review-icon5-1-height: 101px;
$review-icon5-1-total-width: 1655px;
$review-icon5-1-total-height: 1584px;
$review-icon5-1-image: '/m/images/sprite.png?1544755850039';
$review-icon5-1: (860px, 1245px, -860px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon5_1', );
$review-icon5-2-name: 'review_icon5_2';
$review-icon5-2-x: 740px;
$review-icon5-2-y: 1245px;
$review-icon5-2-offset-x: -740px;
$review-icon5-2-offset-y: -1245px;
$review-icon5-2-width: 100px;
$review-icon5-2-height: 101px;
$review-icon5-2-total-width: 1655px;
$review-icon5-2-total-height: 1584px;
$review-icon5-2-image: '/m/images/sprite.png?1544755850039';
$review-icon5-2: (740px, 1245px, -740px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon5_2', );
$review-icon5-3-name: 'review_icon5_3';
$review-icon5-3-x: 620px;
$review-icon5-3-y: 1245px;
$review-icon5-3-offset-x: -620px;
$review-icon5-3-offset-y: -1245px;
$review-icon5-3-width: 100px;
$review-icon5-3-height: 101px;
$review-icon5-3-total-width: 1655px;
$review-icon5-3-total-height: 1584px;
$review-icon5-3-image: '/m/images/sprite.png?1544755850039';
$review-icon5-3: (620px, 1245px, -620px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon5_3', );
$review-icon6-1-name: 'review_icon6_1';
$review-icon6-1-x: 500px;
$review-icon6-1-y: 1245px;
$review-icon6-1-offset-x: -500px;
$review-icon6-1-offset-y: -1245px;
$review-icon6-1-width: 100px;
$review-icon6-1-height: 101px;
$review-icon6-1-total-width: 1655px;
$review-icon6-1-total-height: 1584px;
$review-icon6-1-image: '/m/images/sprite.png?1544755850039';
$review-icon6-1: (500px, 1245px, -500px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon6_1', );
$review-icon6-2-name: 'review_icon6_2';
$review-icon6-2-x: 380px;
$review-icon6-2-y: 1245px;
$review-icon6-2-offset-x: -380px;
$review-icon6-2-offset-y: -1245px;
$review-icon6-2-width: 100px;
$review-icon6-2-height: 101px;
$review-icon6-2-total-width: 1655px;
$review-icon6-2-total-height: 1584px;
$review-icon6-2-image: '/m/images/sprite.png?1544755850039';
$review-icon6-2: (380px, 1245px, -380px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon6_2', );
$review-icon6-3-name: 'review_icon6_3';
$review-icon6-3-x: 260px;
$review-icon6-3-y: 1245px;
$review-icon6-3-offset-x: -260px;
$review-icon6-3-offset-y: -1245px;
$review-icon6-3-width: 100px;
$review-icon6-3-height: 101px;
$review-icon6-3-total-width: 1655px;
$review-icon6-3-total-height: 1584px;
$review-icon6-3-image: '/m/images/sprite.png?1544755850039';
$review-icon6-3: (260px, 1245px, -260px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon6_3', );
$review-icon7-1-name: 'review_icon7_1';
$review-icon7-1-x: 1080px;
$review-icon7-1-y: 1378px;
$review-icon7-1-offset-x: -1080px;
$review-icon7-1-offset-y: -1378px;
$review-icon7-1-width: 100px;
$review-icon7-1-height: 101px;
$review-icon7-1-total-width: 1655px;
$review-icon7-1-total-height: 1584px;
$review-icon7-1-image: '/m/images/sprite.png?1544755850039';
$review-icon7-1: (1080px, 1378px, -1080px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon7_1', );
$review-icon7-2-name: 'review_icon7_2';
$review-icon7-2-x: 1100px;
$review-icon7-2-y: 1245px;
$review-icon7-2-offset-x: -1100px;
$review-icon7-2-offset-y: -1245px;
$review-icon7-2-width: 100px;
$review-icon7-2-height: 101px;
$review-icon7-2-total-width: 1655px;
$review-icon7-2-total-height: 1584px;
$review-icon7-2-image: '/m/images/sprite.png?1544755850039';
$review-icon7-2: (1100px, 1245px, -1100px, -1245px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon7_2', );
$review-icon7-3-name: 'review_icon7_3';
$review-icon7-3-x: 960px;
$review-icon7-3-y: 1378px;
$review-icon7-3-offset-x: -960px;
$review-icon7-3-offset-y: -1378px;
$review-icon7-3-width: 100px;
$review-icon7-3-height: 101px;
$review-icon7-3-total-width: 1655px;
$review-icon7-3-total-height: 1584px;
$review-icon7-3-image: '/m/images/sprite.png?1544755850039';
$review-icon7-3: (960px, 1378px, -960px, -1378px, 100px, 101px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'review_icon7_3', );
$sns-review-title-name: 'sns_review_title';
$sns-review-title-x: 472px;
$sns-review-title-y: 502px;
$sns-review-title-offset-x: -472px;
$sns-review-title-offset-y: -502px;
$sns-review-title-width: 253px;
$sns-review-title-height: 47px;
$sns-review-title-total-width: 1655px;
$sns-review-title-total-height: 1584px;
$sns-review-title-image: '/m/images/sprite.png?1544755850039';
$sns-review-title: (472px, 502px, -472px, -502px, 253px, 47px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'sns_review_title', );
$special-course-title-name: 'special_course_title';
$special-course-title-x: 1020px;
$special-course-title-y: 1000px;
$special-course-title-offset-x: -1020px;
$special-course-title-offset-y: -1000px;
$special-course-title-width: 197px;
$special-course-title-height: 34px;
$special-course-title-total-width: 1655px;
$special-course-title-total-height: 1584px;
$special-course-title-image: '/m/images/sprite.png?1544755850039';
$special-course-title: (1020px, 1000px, -1020px, -1000px, 197px, 34px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'special_course_title', );
$tit-apply-online-seminars-name: 'tit-apply_online_seminars';
$tit-apply-online-seminars-x: 883px;
$tit-apply-online-seminars-y: 416px;
$tit-apply-online-seminars-offset-x: -883px;
$tit-apply-online-seminars-offset-y: -416px;
$tit-apply-online-seminars-width: 364px;
$tit-apply-online-seminars-height: 84px;
$tit-apply-online-seminars-total-width: 1655px;
$tit-apply-online-seminars-total-height: 1584px;
$tit-apply-online-seminars-image: '/m/images/sprite.png?1544755850039';
$tit-apply-online-seminars: (883px, 416px, -883px, -416px, 364px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit-apply_online_seminars', );
$tit-fee-name: 'tit-fee';
$tit-fee-x: 460px;
$tit-fee-y: 153px;
$tit-fee-offset-x: -460px;
$tit-fee-offset-y: -153px;
$tit-fee-width: 365px;
$tit-fee-height: 96px;
$tit-fee-total-width: 1655px;
$tit-fee-total-height: 1584px;
$tit-fee-image: '/m/images/sprite.png?1544755850039';
$tit-fee: (460px, 153px, -460px, -153px, 365px, 96px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit-fee', );
$tit-salaryman-name: 'tit-salaryman';
$tit-salaryman-x: 883px;
$tit-salaryman-y: 208px;
$tit-salaryman-offset-x: -883px;
$tit-salaryman-offset-y: -208px;
$tit-salaryman-width: 364px;
$tit-salaryman-height: 84px;
$tit-salaryman-total-width: 1655px;
$tit-salaryman-total-height: 1584px;
$tit-salaryman-image: '/m/images/sprite.png?1544755850039';
$tit-salaryman: (883px, 208px, -883px, -208px, 364px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit-salaryman', );
$tit-term-name: 'tit-term';
$tit-term-x: 460px;
$tit-term-y: 269px;
$tit-term-offset-x: -460px;
$tit-term-offset-y: -269px;
$tit-term-width: 388px;
$tit-term-height: 79px;
$tit-term-total-width: 1655px;
$tit-term-total-height: 1584px;
$tit-term-image: '/m/images/sprite.png?1544755850039';
$tit-term: (460px, 269px, -460px, -269px, 388px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit-term', );
$tit-campusinfo-name: 'tit_campusinfo';
$tit-campusinfo-x: 883px;
$tit-campusinfo-y: 0px;
$tit-campusinfo-offset-x: -883px;
$tit-campusinfo-offset-y: 0px;
$tit-campusinfo-width: 364px;
$tit-campusinfo-height: 84px;
$tit-campusinfo-total-width: 1655px;
$tit-campusinfo-total-height: 1584px;
$tit-campusinfo-image: '/m/images/sprite.png?1544755850039';
$tit-campusinfo: (883px, 0px, -883px, 0px, 364px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit_campusinfo', );
$tit-eplg-name: 'tit_eplg';
$tit-eplg-x: 0px;
$tit-eplg-y: 592px;
$tit-eplg-offset-x: 0px;
$tit-eplg-offset-y: -592px;
$tit-eplg-width: 365px;
$tit-eplg-height: 84px;
$tit-eplg-total-width: 1655px;
$tit-eplg-total-height: 1584px;
$tit-eplg-image: '/m/images/sprite.png?1544755850039';
$tit-eplg: (0px, 592px, 0px, -592px, 365px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit_eplg', );
$tit-onlinecoun-name: 'tit_onlinecoun';
$tit-onlinecoun-x: 883px;
$tit-onlinecoun-y: 312px;
$tit-onlinecoun-offset-x: -883px;
$tit-onlinecoun-offset-y: -312px;
$tit-onlinecoun-width: 364px;
$tit-onlinecoun-height: 84px;
$tit-onlinecoun-total-width: 1655px;
$tit-onlinecoun-total-height: 1584px;
$tit-onlinecoun-image: '/m/images/sprite.png?1544755850039';
$tit-onlinecoun: (883px, 312px, -883px, -312px, 364px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit_onlinecoun', );
$tit-pf-name: 'tit_pf';
$tit-pf-x: 883px;
$tit-pf-y: 104px;
$tit-pf-offset-x: -883px;
$tit-pf-offset-y: -104px;
$tit-pf-width: 364px;
$tit-pf-height: 84px;
$tit-pf-total-width: 1655px;
$tit-pf-total-height: 1584px;
$tit-pf-image: '/m/images/sprite.png?1544755850039';
$tit-pf: (883px, 104px, -883px, -104px, 364px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit_pf', );
$tit-pg-name: 'tit_pg';
$tit-pg-x: 385px;
$tit-pg-y: 696px;
$tit-pg-offset-x: -385px;
$tit-pg-offset-y: -696px;
$tit-pg-width: 365px;
$tit-pg-height: 84px;
$tit-pg-total-width: 1655px;
$tit-pg-total-height: 1584px;
$tit-pg-image: '/m/images/sprite.png?1544755850039';
$tit-pg: (385px, 696px, -385px, -696px, 365px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit_pg', );
$tit-qna-name: 'tit_qna';
$tit-qna-x: 0px;
$tit-qna-y: 696px;
$tit-qna-offset-x: 0px;
$tit-qna-offset-y: -696px;
$tit-qna-width: 365px;
$tit-qna-height: 84px;
$tit-qna-total-width: 1655px;
$tit-qna-total-height: 1584px;
$tit-qna-image: '/m/images/sprite.png?1544755850039';
$tit-qna: (0px, 696px, 0px, -696px, 365px, 84px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'tit_qna', );
$title-ci-name: 'title_ci';
$title-ci-x: 0px;
$title-ci-y: 1000px;
$title-ci-offset-x: 0px;
$title-ci-offset-y: -1000px;
$title-ci-width: 364px;
$title-ci-height: 79px;
$title-ci-total-width: 1655px;
$title-ci-total-height: 1584px;
$title-ci-image: '/m/images/sprite.png?1544755850039';
$title-ci: (0px, 1000px, 0px, -1000px, 364px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'title_ci', );
$unemployed-title-name: 'unemployed_title';
$unemployed-title-x: 464px;
$unemployed-title-y: 403px;
$unemployed-title-offset-x: -464px;
$unemployed-title-offset-y: -403px;
$unemployed-title-width: 378px;
$unemployed-title-height: 79px;
$unemployed-title-total-width: 1655px;
$unemployed-title-total-height: 1584px;
$unemployed-title-image: '/m/images/sprite.png?1544755850039';
$unemployed-title: (464px, 403px, -464px, -403px, 378px, 79px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'unemployed_title', );
$unemployed-title-new-name: 'unemployed_title_new';
$unemployed-title-new-x: 0px;
$unemployed-title-new-y: 250px;
$unemployed-title-new-offset-x: 0px;
$unemployed-title-new-offset-y: -250px;
$unemployed-title-new-width: 403px;
$unemployed-title-new-height: 133px;
$unemployed-title-new-total-width: 1655px;
$unemployed-title-new-total-height: 1584px;
$unemployed-title-new-image: '/m/images/sprite.png?1544755850039';
$unemployed-title-new: (0px, 250px, 0px, -250px, 403px, 133px, 1655px, 1584px, '/m/images/sprite.png?1544755850039', 'unemployed_title_new', );
$spritesheet-width: 1655px;
$spritesheet-height: 1584px;
$spritesheet-image: '/m/images/sprite.png?1544755850039';
$spritesheet-sprites: ($announce-title, $anonymous, $arr-left, $arr-right, $brandstory-title, $btn-map-add, $campus-info-title, $cert-info-title, $class-information-title, $company-edu-content2-title-img, $company-edu-title, $counsel-title, $curri-img01-new, $employed-title, $employed-title-new, $ep-bg, $ep-title, $footer-ico1, $footer-ico2, $history-title, $hrd-campus-200600964, $hrd-campus-200701532, $hrd-campus-200701612, $hrd-campus-200701876, $hrd-campus-200800323, $hrd-campus-200801348, $hrd-campus-200801529, $hrd-campus-200900755, $hrd-campus-201001028, $hrd-campus-201002184, $hrd-campus-201400511, $hrd-campus-201502519, $hrd-campus-201703807, $hrd-search-title, $ico-nblog, $ico-ntv, $icon-facebook, $icon-mobile-notice, $icon-navertv, $l-menu-img1, $l-menu-img3, $l-menu-img4, $l-menu-img5, $l-menu-img6, $l-menu-img7, $l-menu-img8, $l-menu-logo, $l-vacation-winter2018, $m-footer-logo2, $m-main-logo, $m-portfolio-title, $m-teacher-left-arrow, $m-teacher-right-arrow, $mark-3year, $privacyp-title, $quick-btn, $r-box-down-arr, $review-icon1-1, $review-icon1-2, $review-icon1-3, $review-icon2-1, $review-icon2-2, $review-icon2-3, $review-icon3-1, $review-icon3-2, $review-icon3-3, $review-icon4-1, $review-icon4-2, $review-icon4-3, $review-icon5-1, $review-icon5-2, $review-icon5-3, $review-icon6-1, $review-icon6-2, $review-icon6-3, $review-icon7-1, $review-icon7-2, $review-icon7-3, $sns-review-title, $special-course-title, $tit-apply-online-seminars, $tit-fee, $tit-salaryman, $tit-term, $tit-campusinfo, $tit-eplg, $tit-onlinecoun, $tit-pf, $tit-pg, $tit-qna, $title-ci, $unemployed-title, $unemployed-title-new, );
$spritesheet: (1655px, 1584px, '/m/images/sprite.png?1544755850039', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
