// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$announce-title-name: 'announce_title';
$announce-title-x: 0px;
$announce-title-y: 691px;
$announce-title-offset-x: 0px;
$announce-title-offset-y: -691px;
$announce-title-width: 365px;
$announce-title-height: 84px;
$announce-title-total-width: 1628px;
$announce-title-total-height: 1407px;
$announce-title-image: '/m/images/sprite.png?1557711905719';
$announce-title: (0px, 691px, 0px, -691px, 365px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'announce_title', );
$anonymous-name: 'anonymous';
$anonymous-x: 1426px;
$anonymous-y: 710px;
$anonymous-offset-x: -1426px;
$anonymous-offset-y: -710px;
$anonymous-width: 26px;
$anonymous-height: 23px;
$anonymous-total-width: 1628px;
$anonymous-total-height: 1407px;
$anonymous-image: '/m/images/sprite.png?1557711905719';
$anonymous: (1426px, 710px, -1426px, -710px, 26px, 23px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'anonymous', );
$arr-left-name: 'arr-left';
$arr-left-x: 1528px;
$arr-left-y: 1089px;
$arr-left-offset-x: -1528px;
$arr-left-offset-y: -1089px;
$arr-left-width: 65px;
$arr-left-height: 85px;
$arr-left-total-width: 1628px;
$arr-left-total-height: 1407px;
$arr-left-image: '/m/images/sprite.png?1557711905719';
$arr-left: (1528px, 1089px, -1528px, -1089px, 65px, 85px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'arr-left', );
$arr-right-name: 'arr-right';
$arr-right-x: 1528px;
$arr-right-y: 1194px;
$arr-right-offset-x: -1528px;
$arr-right-offset-y: -1194px;
$arr-right-width: 65px;
$arr-right-height: 85px;
$arr-right-total-width: 1628px;
$arr-right-total-height: 1407px;
$arr-right-image: '/m/images/sprite.png?1557711905719';
$arr-right: (1528px, 1194px, -1528px, -1194px, 65px, 85px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'arr-right', );
$brandstory-title-name: 'brandstory_title';
$brandstory-title-x: 770px;
$brandstory-title-y: 795px;
$brandstory-title-offset-x: -770px;
$brandstory-title-offset-y: -795px;
$brandstory-title-width: 364px;
$brandstory-title-height: 79px;
$brandstory-title-total-width: 1628px;
$brandstory-title-total-height: 1407px;
$brandstory-title-image: '/m/images/sprite.png?1557711905719';
$brandstory-title: (770px, 795px, -770px, -795px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'brandstory_title', );
$btn-map-add-name: 'btn_map_add';
$btn-map-add-x: 1612px;
$btn-map-add-y: 1371px;
$btn-map-add-offset-x: -1612px;
$btn-map-add-offset-y: -1371px;
$btn-map-add-width: 16px;
$btn-map-add-height: 15px;
$btn-map-add-total-width: 1628px;
$btn-map-add-total-height: 1407px;
$btn-map-add-image: '/m/images/sprite.png?1557711905719';
$btn-map-add: (1612px, 1371px, -1612px, -1371px, 16px, 15px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'btn_map_add', );
$campus-info-title-name: 'campus_info_title';
$campus-info-title-x: 158px;
$campus-info-title-y: 1196px;
$campus-info-title-offset-x: -158px;
$campus-info-title-offset-y: -1196px;
$campus-info-title-width: 164px;
$campus-info-title-height: 19px;
$campus-info-title-total-width: 1628px;
$campus-info-title-total-height: 1407px;
$campus-info-title-image: '/m/images/sprite.png?1557711905719';
$campus-info-title: (158px, 1196px, -158px, -1196px, 164px, 19px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'campus_info_title', );
$cert-info-title-name: 'cert_info_title';
$cert-info-title-x: 384px;
$cert-info-title-y: 998px;
$cert-info-title-offset-x: -384px;
$cert-info-title-offset-y: -998px;
$cert-info-title-width: 364px;
$cert-info-title-height: 79px;
$cert-info-title-total-width: 1628px;
$cert-info-title-total-height: 1407px;
$cert-info-title-image: '/m/images/sprite.png?1557711905719';
$cert-info-title: (384px, 998px, -384px, -998px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'cert_info_title', );
$class-information-title-name: 'class_information_title';
$class-information-title-x: 384px;
$class-information-title-y: 795px;
$class-information-title-offset-x: -384px;
$class-information-title-offset-y: -795px;
$class-information-title-width: 366px;
$class-information-title-height: 81px;
$class-information-title-total-width: 1628px;
$class-information-title-total-height: 1407px;
$class-information-title-image: '/m/images/sprite.png?1557711905719';
$class-information-title: (384px, 795px, -384px, -795px, 366px, 81px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'class_information_title', );
$company-edu-content2-title-img-name: 'company_edu_content2_title_img';
$company-edu-content2-title-img-x: 1268px;
$company-edu-content2-title-img-y: 1094px;
$company-edu-content2-title-img-offset-x: -1268px;
$company-edu-content2-title-img-offset-y: -1094px;
$company-edu-content2-title-img-width: 196px;
$company-edu-content2-title-img-height: 47px;
$company-edu-content2-title-img-total-width: 1628px;
$company-edu-content2-title-img-total-height: 1407px;
$company-edu-content2-title-img-image: '/m/images/sprite.png?1557711905719';
$company-edu-content2-title-img: (1268px, 1094px, -1268px, -1094px, 196px, 47px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'company_edu_content2_title_img', );
$company-edu-title-name: 'company_edu_title';
$company-edu-title-x: 0px;
$company-edu-title-y: 502px;
$company-edu-title-offset-x: 0px;
$company-edu-title-offset-y: -502px;
$company-edu-title-width: 444px;
$company-edu-title-height: 79px;
$company-edu-title-total-width: 1628px;
$company-edu-title-total-height: 1407px;
$company-edu-title-image: '/m/images/sprite.png?1557711905719';
$company-edu-title: (0px, 502px, 0px, -502px, 444px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'company_edu_title', );
$counsel-title-name: 'counsel_title';
$counsel-title-x: 768px;
$counsel-title-y: 899px;
$counsel-title-offset-x: -768px;
$counsel-title-offset-y: -899px;
$counsel-title-width: 364px;
$counsel-title-height: 79px;
$counsel-title-total-width: 1628px;
$counsel-title-total-height: 1407px;
$counsel-title-image: '/m/images/sprite.png?1557711905719';
$counsel-title: (768px, 899px, -768px, -899px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'counsel_title', );
$curri-img01-new-name: 'curri_img01_new';
$curri-img01-new-x: 0px;
$curri-img01-new-y: 0px;
$curri-img01-new-offset-x: 0px;
$curri-img01-new-offset-y: 0px;
$curri-img01-new-width: 440px;
$curri-img01-new-height: 230px;
$curri-img01-new-total-width: 1628px;
$curri-img01-new-total-height: 1407px;
$curri-img01-new-image: '/m/images/sprite.png?1557711905719';
$curri-img01-new: (0px, 0px, 0px, 0px, 440px, 230px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'curri_img01_new', );
$employed-title-name: 'employed_title';
$employed-title-x: 384px;
$employed-title-y: 899px;
$employed-title-offset-x: -384px;
$employed-title-offset-y: -899px;
$employed-title-width: 364px;
$employed-title-height: 79px;
$employed-title-total-width: 1628px;
$employed-title-total-height: 1407px;
$employed-title-image: '/m/images/sprite.png?1557711905719';
$employed-title: (384px, 899px, -384px, -899px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'employed_title', );
$employed-title-new-name: 'employed_title_new';
$employed-title-new-x: 460px;
$employed-title-new-y: 0px;
$employed-title-new-offset-x: -460px;
$employed-title-new-offset-y: 0px;
$employed-title-new-width: 403px;
$employed-title-new-height: 133px;
$employed-title-new-total-width: 1628px;
$employed-title-new-total-height: 1407px;
$employed-title-new-image: '/m/images/sprite.png?1557711905719';
$employed-title-new: (460px, 0px, -460px, 0px, 403px, 133px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'employed_title_new', );
$ep-bg-name: 'ep_bg';
$ep-bg-x: 1426px;
$ep-bg-y: 654px;
$ep-bg-offset-x: -1426px;
$ep-bg-offset-y: -654px;
$ep-bg-width: 34px;
$ep-bg-height: 36px;
$ep-bg-total-width: 1628px;
$ep-bg-total-height: 1407px;
$ep-bg-image: '/m/images/sprite.png?1557711905719';
$ep-bg: (1426px, 654px, -1426px, -654px, 34px, 36px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'ep_bg', );
$ep-title-name: 'ep_title';
$ep-title-x: 0px;
$ep-title-y: 998px;
$ep-title-offset-x: 0px;
$ep-title-offset-y: -998px;
$ep-title-width: 364px;
$ep-title-height: 79px;
$ep-title-total-width: 1628px;
$ep-title-total-height: 1407px;
$ep-title-image: '/m/images/sprite.png?1557711905719';
$ep-title: (0px, 998px, 0px, -998px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'ep_title', );
$footer-ico1-name: 'footer_ico1';
$footer-ico1-x: 1426px;
$footer-ico1-y: 503px;
$footer-ico1-offset-x: -1426px;
$footer-ico1-offset-y: -503px;
$footer-ico1-width: 22px;
$footer-ico1-height: 21px;
$footer-ico1-total-width: 1628px;
$footer-ico1-total-height: 1407px;
$footer-ico1-image: '/m/images/sprite.png?1557711905719';
$footer-ico1: (1426px, 503px, -1426px, -503px, 22px, 21px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'footer_ico1', );
$footer-ico2-name: 'footer_ico2';
$footer-ico2-x: 1468px;
$footer-ico2-y: 503px;
$footer-ico2-offset-x: -1468px;
$footer-ico2-offset-y: -503px;
$footer-ico2-width: 18px;
$footer-ico2-height: 21px;
$footer-ico2-total-width: 1628px;
$footer-ico2-total-height: 1407px;
$footer-ico2-image: '/m/images/sprite.png?1557711905719';
$footer-ico2: (1468px, 503px, -1468px, -503px, 18px, 21px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'footer_ico2', );
$history-title-name: 'history_title';
$history-title-x: 0px;
$history-title-y: 899px;
$history-title-offset-x: 0px;
$history-title-offset-y: -899px;
$history-title-width: 364px;
$history-title-height: 79px;
$history-title-total-width: 1628px;
$history-title-total-height: 1407px;
$history-title-image: '/m/images/sprite.png?1557711905719';
$history-title: (0px, 899px, 0px, -899px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'history_title', );
$hrd-search-title-name: 'hrd_search_title';
$hrd-search-title-x: 464px;
$hrd-search-title-y: 502px;
$hrd-search-title-offset-x: -464px;
$hrd-search-title-offset-y: -502px;
$hrd-search-title-width: 368px;
$hrd-search-title-height: 79px;
$hrd-search-title-total-width: 1628px;
$hrd-search-title-total-height: 1407px;
$hrd-search-title-image: '/m/images/sprite.png?1557711905719';
$hrd-search-title: (464px, 502px, -464px, -502px, 368px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'hrd_search_title', );
$ico-insta-name: 'ico_insta';
$ico-insta-x: 1426px;
$ico-insta-y: 213px;
$ico-insta-offset-x: -1426px;
$ico-insta-offset-y: -213px;
$ico-insta-width: 64px;
$ico-insta-height: 53px;
$ico-insta-total-width: 1628px;
$ico-insta-total-height: 1407px;
$ico-insta-image: '/m/images/sprite.png?1557711905719';
$ico-insta: (1426px, 213px, -1426px, -213px, 64px, 53px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'ico_insta', );
$ico-nblog-name: 'ico_nblog';
$ico-nblog-x: 1426px;
$ico-nblog-y: 324px;
$ico-nblog-offset-x: -1426px;
$ico-nblog-offset-y: -324px;
$ico-nblog-width: 64px;
$ico-nblog-height: 53px;
$ico-nblog-total-width: 1628px;
$ico-nblog-total-height: 1407px;
$ico-nblog-image: '/m/images/sprite.png?1557711905719';
$ico-nblog: (1426px, 324px, -1426px, -324px, 64px, 53px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'ico_nblog', );
$ico-ntv-name: 'ico_ntv';
$ico-ntv-x: 1528px;
$ico-ntv-y: 1371px;
$ico-ntv-offset-x: -1528px;
$ico-ntv-offset-y: -1371px;
$ico-ntv-width: 64px;
$ico-ntv-height: 34px;
$ico-ntv-total-width: 1628px;
$ico-ntv-total-height: 1407px;
$ico-ntv-image: '/m/images/sprite.png?1557711905719';
$ico-ntv: (1528px, 1371px, -1528px, -1371px, 64px, 34px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'ico_ntv', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 1426px;
$icon-facebook-y: 434px;
$icon-facebook-offset-x: -1426px;
$icon-facebook-offset-y: -434px;
$icon-facebook-width: 49px;
$icon-facebook-height: 49px;
$icon-facebook-total-width: 1628px;
$icon-facebook-total-height: 1407px;
$icon-facebook-image: '/m/images/sprite.png?1557711905719';
$icon-facebook: (1426px, 434px, -1426px, -434px, 49px, 49px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'icon_facebook', );
$icon-mobile-notice-name: 'icon_mobile_notice';
$icon-mobile-notice-x: 1480px;
$icon-mobile-notice-y: 654px;
$icon-mobile-notice-offset-x: -1480px;
$icon-mobile-notice-offset-y: -654px;
$icon-mobile-notice-width: 25px;
$icon-mobile-notice-height: 26px;
$icon-mobile-notice-total-width: 1628px;
$icon-mobile-notice-total-height: 1407px;
$icon-mobile-notice-image: '/m/images/sprite.png?1557711905719';
$icon-mobile-notice: (1480px, 654px, -1480px, -654px, 25px, 26px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'icon_mobile_notice', );
$icon-navertv-name: 'icon_navertv';
$icon-navertv-x: 1426px;
$icon-navertv-y: 544px;
$icon-navertv-offset-x: -1426px;
$icon-navertv-offset-y: -544px;
$icon-navertv-width: 49px;
$icon-navertv-height: 49px;
$icon-navertv-total-width: 1628px;
$icon-navertv-total-height: 1407px;
$icon-navertv-image: '/m/images/sprite.png?1557711905719';
$icon-navertv: (1426px, 544px, -1426px, -544px, 49px, 49px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'icon_navertv', );
$l-menu-brochure-name: 'l_menu_brochure';
$l-menu-brochure-x: 1268px;
$l-menu-brochure-y: 434px;
$l-menu-brochure-offset-x: -1268px;
$l-menu-brochure-offset-y: -434px;
$l-menu-brochure-width: 138px;
$l-menu-brochure-height: 90px;
$l-menu-brochure-total-width: 1628px;
$l-menu-brochure-total-height: 1407px;
$l-menu-brochure-image: '/m/images/sprite.png?1557711905719';
$l-menu-brochure: (1268px, 434px, -1268px, -434px, 138px, 90px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_brochure', );
$l-menu-employed-name: 'l_menu_employed';
$l-menu-employed-x: 0px;
$l-menu-employed-y: 1196px;
$l-menu-employed-offset-x: 0px;
$l-menu-employed-offset-y: -1196px;
$l-menu-employed-width: 138px;
$l-menu-employed-height: 90px;
$l-menu-employed-total-width: 1628px;
$l-menu-employed-total-height: 1407px;
$l-menu-employed-image: '/m/images/sprite.png?1557711905719';
$l-menu-employed: (0px, 1196px, 0px, -1196px, 138px, 90px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_employed', );
$l-menu-img1-name: 'l_menu_img1';
$l-menu-img1-x: 1268px;
$l-menu-img1-y: 213px;
$l-menu-img1-offset-x: -1268px;
$l-menu-img1-offset-y: -213px;
$l-menu-img1-width: 138px;
$l-menu-img1-height: 91px;
$l-menu-img1-total-width: 1628px;
$l-menu-img1-total-height: 1407px;
$l-menu-img1-image: '/m/images/sprite.png?1557711905719';
$l-menu-img1: (1268px, 213px, -1268px, -213px, 138px, 91px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_img1', );
$l-menu-img3-name: 'l_menu_img3';
$l-menu-img3-x: 1268px;
$l-menu-img3-y: 764px;
$l-menu-img3-offset-x: -1268px;
$l-menu-img3-offset-y: -764px;
$l-menu-img3-width: 138px;
$l-menu-img3-height: 90px;
$l-menu-img3-total-width: 1628px;
$l-menu-img3-total-height: 1407px;
$l-menu-img3-image: '/m/images/sprite.png?1557711905719';
$l-menu-img3: (1268px, 764px, -1268px, -764px, 138px, 90px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_img3', );
$l-menu-img4-name: 'l_menu_img4';
$l-menu-img4-x: 1268px;
$l-menu-img4-y: 654px;
$l-menu-img4-offset-x: -1268px;
$l-menu-img4-offset-y: -654px;
$l-menu-img4-width: 138px;
$l-menu-img4-height: 90px;
$l-menu-img4-total-width: 1628px;
$l-menu-img4-total-height: 1407px;
$l-menu-img4-image: '/m/images/sprite.png?1557711905719';
$l-menu-img4: (1268px, 654px, -1268px, -654px, 138px, 90px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_img4', );
$l-menu-img5-name: 'l_menu_img5';
$l-menu-img5-x: 1268px;
$l-menu-img5-y: 544px;
$l-menu-img5-offset-x: -1268px;
$l-menu-img5-offset-y: -544px;
$l-menu-img5-width: 138px;
$l-menu-img5-height: 90px;
$l-menu-img5-total-width: 1628px;
$l-menu-img5-total-height: 1407px;
$l-menu-img5-image: '/m/images/sprite.png?1557711905719';
$l-menu-img5: (1268px, 544px, -1268px, -544px, 138px, 90px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_img5', );
$l-menu-logo-name: 'l_menu_logo';
$l-menu-logo-x: 0px;
$l-menu-logo-y: 601px;
$l-menu-logo-offset-x: 0px;
$l-menu-logo-offset-y: -601px;
$l-menu-logo-width: 452px;
$l-menu-logo-height: 70px;
$l-menu-logo-total-width: 1628px;
$l-menu-logo-total-height: 1407px;
$l-menu-logo-image: '/m/images/sprite.png?1557711905719';
$l-menu-logo: (0px, 601px, 0px, -601px, 452px, 70px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_logo', );
$l-menu-reception-name: 'l_menu_reception';
$l-menu-reception-x: 1268px;
$l-menu-reception-y: 324px;
$l-menu-reception-offset-x: -1268px;
$l-menu-reception-offset-y: -324px;
$l-menu-reception-width: 138px;
$l-menu-reception-height: 90px;
$l-menu-reception-total-width: 1628px;
$l-menu-reception-total-height: 1407px;
$l-menu-reception-image: '/m/images/sprite.png?1557711905719';
$l-menu-reception: (1268px, 324px, -1268px, -324px, 138px, 90px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_reception', );
$l-menu-unemployed-name: 'l_menu_unemployed';
$l-menu-unemployed-x: 1268px;
$l-menu-unemployed-y: 984px;
$l-menu-unemployed-offset-x: -1268px;
$l-menu-unemployed-offset-y: -984px;
$l-menu-unemployed-width: 138px;
$l-menu-unemployed-height: 90px;
$l-menu-unemployed-total-width: 1628px;
$l-menu-unemployed-total-height: 1407px;
$l-menu-unemployed-image: '/m/images/sprite.png?1557711905719';
$l-menu-unemployed: (1268px, 984px, -1268px, -984px, 138px, 90px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'l_menu_unemployed', );
$left-menu-edu-name: 'left_menu_edu';
$left-menu-edu-x: 1268px;
$left-menu-edu-y: 874px;
$left-menu-edu-offset-x: -1268px;
$left-menu-edu-offset-y: -874px;
$left-menu-edu-width: 138px;
$left-menu-edu-height: 90px;
$left-menu-edu-total-width: 1628px;
$left-menu-edu-total-height: 1407px;
$left-menu-edu-image: '/m/images/sprite.png?1557711905719';
$left-menu-edu: (1268px, 874px, -1268px, -874px, 138px, 90px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'left_menu_edu', );
$m-footer-logo2-name: 'm_footer_logo2';
$m-footer-logo2-x: 768px;
$m-footer-logo2-y: 1097px;
$m-footer-logo2-offset-x: -768px;
$m-footer-logo2-offset-y: -1097px;
$m-footer-logo2-width: 150px;
$m-footer-logo2-height: 57px;
$m-footer-logo2-total-width: 1628px;
$m-footer-logo2-total-height: 1407px;
$m-footer-logo2-image: '/m/images/sprite.png?1557711905719';
$m-footer-logo2: (768px, 1097px, -768px, -1097px, 150px, 57px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'm_footer_logo2', );
$m-main-logo-name: 'm_main_logo';
$m-main-logo-x: 1268px;
$m-main-logo-y: 0px;
$m-main-logo-offset-x: -1268px;
$m-main-logo-offset-y: 0px;
$m-main-logo-width: 240px;
$m-main-logo-height: 113px;
$m-main-logo-total-width: 1628px;
$m-main-logo-total-height: 1407px;
$m-main-logo-image: '/m/images/sprite.png?1557711905719';
$m-main-logo: (1268px, 0px, -1268px, 0px, 240px, 113px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'm_main_logo', );
$m-portfolio-title-name: 'm_portfolio_title';
$m-portfolio-title-x: 472px;
$m-portfolio-title-y: 601px;
$m-portfolio-title-offset-x: -472px;
$m-portfolio-title-offset-y: -601px;
$m-portfolio-title-width: 232px;
$m-portfolio-title-height: 35px;
$m-portfolio-title-total-width: 1628px;
$m-portfolio-title-total-height: 1407px;
$m-portfolio-title-image: '/m/images/sprite.png?1557711905719';
$m-portfolio-title: (472px, 601px, -472px, -601px, 232px, 35px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'm_portfolio_title', );
$m-teacher-left-arrow-name: 'm_teacher_left_arrow';
$m-teacher-left-arrow-x: 1463px;
$m-teacher-left-arrow-y: 764px;
$m-teacher-left-arrow-offset-x: -1463px;
$m-teacher-left-arrow-offset-y: -764px;
$m-teacher-left-arrow-width: 16px;
$m-teacher-left-arrow-height: 45px;
$m-teacher-left-arrow-total-width: 1628px;
$m-teacher-left-arrow-total-height: 1407px;
$m-teacher-left-arrow-image: '/m/images/sprite.png?1557711905719';
$m-teacher-left-arrow: (1463px, 764px, -1463px, -764px, 16px, 45px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'm_teacher_left_arrow', );
$m-teacher-right-arrow-name: 'm_teacher_right_arrow';
$m-teacher-right-arrow-x: 1426px;
$m-teacher-right-arrow-y: 764px;
$m-teacher-right-arrow-offset-x: -1426px;
$m-teacher-right-arrow-offset-y: -764px;
$m-teacher-right-arrow-width: 17px;
$m-teacher-right-arrow-height: 46px;
$m-teacher-right-arrow-total-width: 1628px;
$m-teacher-right-arrow-total-height: 1407px;
$m-teacher-right-arrow-image: '/m/images/sprite.png?1557711905719';
$m-teacher-right-arrow: (1426px, 764px, -1426px, -764px, 17px, 46px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'm_teacher_right_arrow', );
$mark-3year-name: 'mark_3year';
$mark-3year-x: 1528px;
$mark-3year-y: 1299px;
$mark-3year-offset-x: -1528px;
$mark-3year-offset-y: -1299px;
$mark-3year-width: 72px;
$mark-3year-height: 52px;
$mark-3year-total-width: 1628px;
$mark-3year-total-height: 1407px;
$mark-3year-image: '/m/images/sprite.png?1557711905719';
$mark-3year: (1528px, 1299px, -1528px, -1299px, 72px, 52px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'mark_3year', );
$privacyp-title-name: 'privacyp_title';
$privacyp-title-x: 768px;
$privacyp-title-y: 998px;
$privacyp-title-offset-x: -768px;
$privacyp-title-offset-y: -998px;
$privacyp-title-width: 364px;
$privacyp-title-height: 79px;
$privacyp-title-total-width: 1628px;
$privacyp-title-total-height: 1407px;
$privacyp-title-image: '/m/images/sprite.png?1557711905719';
$privacyp-title: (768px, 998px, -768px, -998px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'privacyp_title', );
$quick-btn-name: 'quick-btn';
$quick-btn-x: 1268px;
$quick-btn-y: 133px;
$quick-btn-offset-x: -1268px;
$quick-btn-offset-y: -133px;
$quick-btn-width: 240px;
$quick-btn-height: 60px;
$quick-btn-total-width: 1628px;
$quick-btn-total-height: 1407px;
$quick-btn-image: '/m/images/sprite.png?1557711905719';
$quick-btn: (1268px, 133px, -1268px, -133px, 240px, 60px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'quick-btn', );
$r-box-down-arr-name: 'r_box_down_arr';
$r-box-down-arr-x: 1426px;
$r-box-down-arr-y: 286px;
$r-box-down-arr-offset-x: -1426px;
$r-box-down-arr-offset-y: -286px;
$r-box-down-arr-width: 26px;
$r-box-down-arr-height: 16px;
$r-box-down-arr-total-width: 1628px;
$r-box-down-arr-total-height: 1407px;
$r-box-down-arr-image: '/m/images/sprite.png?1557711905719';
$r-box-down-arr: (1426px, 286px, -1426px, -286px, 26px, 16px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'r_box_down_arr', );
$review-icon1-1-name: 'review_icon1_1';
$review-icon1-1-x: 1528px;
$review-icon1-1-y: 847px;
$review-icon1-1-offset-x: -1528px;
$review-icon1-1-offset-y: -847px;
$review-icon1-1-width: 100px;
$review-icon1-1-height: 101px;
$review-icon1-1-total-width: 1628px;
$review-icon1-1-total-height: 1407px;
$review-icon1-1-image: '/m/images/sprite.png?1557711905719';
$review-icon1-1: (1528px, 847px, -1528px, -847px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon1_1', );
$review-icon1-2-name: 'review_icon1_2';
$review-icon1-2-x: 0px;
$review-icon1-2-y: 1306px;
$review-icon1-2-offset-x: 0px;
$review-icon1-2-offset-y: -1306px;
$review-icon1-2-width: 100px;
$review-icon1-2-height: 101px;
$review-icon1-2-total-width: 1628px;
$review-icon1-2-total-height: 1407px;
$review-icon1-2-image: '/m/images/sprite.png?1557711905719';
$review-icon1-2: (0px, 1306px, 0px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon1_2', );
$review-icon1-3-name: 'review_icon1_3';
$review-icon1-3-x: 1528px;
$review-icon1-3-y: 726px;
$review-icon1-3-offset-x: -1528px;
$review-icon1-3-offset-y: -726px;
$review-icon1-3-width: 100px;
$review-icon1-3-height: 101px;
$review-icon1-3-total-width: 1628px;
$review-icon1-3-total-height: 1407px;
$review-icon1-3-image: '/m/images/sprite.png?1557711905719';
$review-icon1-3: (1528px, 726px, -1528px, -726px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon1_3', );
$review-icon2-1-name: 'review_icon2_1';
$review-icon2-1-x: 1528px;
$review-icon2-1-y: 605px;
$review-icon2-1-offset-x: -1528px;
$review-icon2-1-offset-y: -605px;
$review-icon2-1-width: 100px;
$review-icon2-1-height: 101px;
$review-icon2-1-total-width: 1628px;
$review-icon2-1-total-height: 1407px;
$review-icon2-1-image: '/m/images/sprite.png?1557711905719';
$review-icon2-1: (1528px, 605px, -1528px, -605px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon2_1', );
$review-icon2-2-name: 'review_icon2_2';
$review-icon2-2-x: 1528px;
$review-icon2-2-y: 484px;
$review-icon2-2-offset-x: -1528px;
$review-icon2-2-offset-y: -484px;
$review-icon2-2-width: 100px;
$review-icon2-2-height: 101px;
$review-icon2-2-total-width: 1628px;
$review-icon2-2-total-height: 1407px;
$review-icon2-2-image: '/m/images/sprite.png?1557711905719';
$review-icon2-2: (1528px, 484px, -1528px, -484px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon2_2', );
$review-icon2-3-name: 'review_icon2_3';
$review-icon2-3-x: 1528px;
$review-icon2-3-y: 363px;
$review-icon2-3-offset-x: -1528px;
$review-icon2-3-offset-y: -363px;
$review-icon2-3-width: 100px;
$review-icon2-3-height: 101px;
$review-icon2-3-total-width: 1628px;
$review-icon2-3-total-height: 1407px;
$review-icon2-3-image: '/m/images/sprite.png?1557711905719';
$review-icon2-3: (1528px, 363px, -1528px, -363px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon2_3', );
$review-icon3-1-name: 'review_icon3_1';
$review-icon3-1-x: 1528px;
$review-icon3-1-y: 242px;
$review-icon3-1-offset-x: -1528px;
$review-icon3-1-offset-y: -242px;
$review-icon3-1-width: 100px;
$review-icon3-1-height: 101px;
$review-icon3-1-total-width: 1628px;
$review-icon3-1-total-height: 1407px;
$review-icon3-1-image: '/m/images/sprite.png?1557711905719';
$review-icon3-1: (1528px, 242px, -1528px, -242px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon3_1', );
$review-icon3-2-name: 'review_icon3_2';
$review-icon3-2-x: 1528px;
$review-icon3-2-y: 121px;
$review-icon3-2-offset-x: -1528px;
$review-icon3-2-offset-y: -121px;
$review-icon3-2-width: 100px;
$review-icon3-2-height: 101px;
$review-icon3-2-total-width: 1628px;
$review-icon3-2-total-height: 1407px;
$review-icon3-2-image: '/m/images/sprite.png?1557711905719';
$review-icon3-2: (1528px, 121px, -1528px, -121px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon3_2', );
$review-icon3-3-name: 'review_icon3_3';
$review-icon3-3-x: 1528px;
$review-icon3-3-y: 0px;
$review-icon3-3-offset-x: -1528px;
$review-icon3-3-offset-y: 0px;
$review-icon3-3-width: 100px;
$review-icon3-3-height: 101px;
$review-icon3-3-total-width: 1628px;
$review-icon3-3-total-height: 1407px;
$review-icon3-3-image: '/m/images/sprite.png?1557711905719';
$review-icon3-3: (1528px, 0px, -1528px, 0px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon3_3', );
$review-icon4-1-name: 'review_icon4_1';
$review-icon4-1-x: 1320px;
$review-icon4-1-y: 1306px;
$review-icon4-1-offset-x: -1320px;
$review-icon4-1-offset-y: -1306px;
$review-icon4-1-width: 100px;
$review-icon4-1-height: 101px;
$review-icon4-1-total-width: 1628px;
$review-icon4-1-total-height: 1407px;
$review-icon4-1-image: '/m/images/sprite.png?1557711905719';
$review-icon4-1: (1320px, 1306px, -1320px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon4_1', );
$review-icon4-2-name: 'review_icon4_2';
$review-icon4-2-x: 1200px;
$review-icon4-2-y: 1306px;
$review-icon4-2-offset-x: -1200px;
$review-icon4-2-offset-y: -1306px;
$review-icon4-2-width: 100px;
$review-icon4-2-height: 101px;
$review-icon4-2-total-width: 1628px;
$review-icon4-2-total-height: 1407px;
$review-icon4-2-image: '/m/images/sprite.png?1557711905719';
$review-icon4-2: (1200px, 1306px, -1200px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon4_2', );
$review-icon4-3-name: 'review_icon4_3';
$review-icon4-3-x: 1080px;
$review-icon4-3-y: 1306px;
$review-icon4-3-offset-x: -1080px;
$review-icon4-3-offset-y: -1306px;
$review-icon4-3-width: 100px;
$review-icon4-3-height: 101px;
$review-icon4-3-total-width: 1628px;
$review-icon4-3-total-height: 1407px;
$review-icon4-3-image: '/m/images/sprite.png?1557711905719';
$review-icon4-3: (1080px, 1306px, -1080px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon4_3', );
$review-icon5-1-name: 'review_icon5_1';
$review-icon5-1-x: 960px;
$review-icon5-1-y: 1306px;
$review-icon5-1-offset-x: -960px;
$review-icon5-1-offset-y: -1306px;
$review-icon5-1-width: 100px;
$review-icon5-1-height: 101px;
$review-icon5-1-total-width: 1628px;
$review-icon5-1-total-height: 1407px;
$review-icon5-1-image: '/m/images/sprite.png?1557711905719';
$review-icon5-1: (960px, 1306px, -960px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon5_1', );
$review-icon5-2-name: 'review_icon5_2';
$review-icon5-2-x: 120px;
$review-icon5-2-y: 1306px;
$review-icon5-2-offset-x: -120px;
$review-icon5-2-offset-y: -1306px;
$review-icon5-2-width: 100px;
$review-icon5-2-height: 101px;
$review-icon5-2-total-width: 1628px;
$review-icon5-2-total-height: 1407px;
$review-icon5-2-image: '/m/images/sprite.png?1557711905719';
$review-icon5-2: (120px, 1306px, -120px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon5_2', );
$review-icon5-3-name: 'review_icon5_3';
$review-icon5-3-x: 1528px;
$review-icon5-3-y: 968px;
$review-icon5-3-offset-x: -1528px;
$review-icon5-3-offset-y: -968px;
$review-icon5-3-width: 100px;
$review-icon5-3-height: 101px;
$review-icon5-3-total-width: 1628px;
$review-icon5-3-total-height: 1407px;
$review-icon5-3-image: '/m/images/sprite.png?1557711905719';
$review-icon5-3: (1528px, 968px, -1528px, -968px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon5_3', );
$review-icon6-1-name: 'review_icon6_1';
$review-icon6-1-x: 240px;
$review-icon6-1-y: 1306px;
$review-icon6-1-offset-x: -240px;
$review-icon6-1-offset-y: -1306px;
$review-icon6-1-width: 100px;
$review-icon6-1-height: 101px;
$review-icon6-1-total-width: 1628px;
$review-icon6-1-total-height: 1407px;
$review-icon6-1-image: '/m/images/sprite.png?1557711905719';
$review-icon6-1: (240px, 1306px, -240px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon6_1', );
$review-icon6-2-name: 'review_icon6_2';
$review-icon6-2-x: 360px;
$review-icon6-2-y: 1306px;
$review-icon6-2-offset-x: -360px;
$review-icon6-2-offset-y: -1306px;
$review-icon6-2-width: 100px;
$review-icon6-2-height: 101px;
$review-icon6-2-total-width: 1628px;
$review-icon6-2-total-height: 1407px;
$review-icon6-2-image: '/m/images/sprite.png?1557711905719';
$review-icon6-2: (360px, 1306px, -360px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon6_2', );
$review-icon6-3-name: 'review_icon6_3';
$review-icon6-3-x: 480px;
$review-icon6-3-y: 1306px;
$review-icon6-3-offset-x: -480px;
$review-icon6-3-offset-y: -1306px;
$review-icon6-3-width: 100px;
$review-icon6-3-height: 101px;
$review-icon6-3-total-width: 1628px;
$review-icon6-3-total-height: 1407px;
$review-icon6-3-image: '/m/images/sprite.png?1557711905719';
$review-icon6-3: (480px, 1306px, -480px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon6_3', );
$review-icon7-1-name: 'review_icon7_1';
$review-icon7-1-x: 600px;
$review-icon7-1-y: 1306px;
$review-icon7-1-offset-x: -600px;
$review-icon7-1-offset-y: -1306px;
$review-icon7-1-width: 100px;
$review-icon7-1-height: 101px;
$review-icon7-1-total-width: 1628px;
$review-icon7-1-total-height: 1407px;
$review-icon7-1-image: '/m/images/sprite.png?1557711905719';
$review-icon7-1: (600px, 1306px, -600px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon7_1', );
$review-icon7-2-name: 'review_icon7_2';
$review-icon7-2-x: 720px;
$review-icon7-2-y: 1306px;
$review-icon7-2-offset-x: -720px;
$review-icon7-2-offset-y: -1306px;
$review-icon7-2-width: 100px;
$review-icon7-2-height: 101px;
$review-icon7-2-total-width: 1628px;
$review-icon7-2-total-height: 1407px;
$review-icon7-2-image: '/m/images/sprite.png?1557711905719';
$review-icon7-2: (720px, 1306px, -720px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon7_2', );
$review-icon7-3-name: 'review_icon7_3';
$review-icon7-3-x: 840px;
$review-icon7-3-y: 1306px;
$review-icon7-3-offset-x: -840px;
$review-icon7-3-offset-y: -1306px;
$review-icon7-3-width: 100px;
$review-icon7-3-height: 101px;
$review-icon7-3-total-width: 1628px;
$review-icon7-3-total-height: 1407px;
$review-icon7-3-image: '/m/images/sprite.png?1557711905719';
$review-icon7-3: (840px, 1306px, -840px, -1306px, 100px, 101px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'review_icon7_3', );
$sns-review-title-name: 'sns_review_title';
$sns-review-title-x: 883px;
$sns-review-title-y: 728px;
$sns-review-title-offset-x: -883px;
$sns-review-title-offset-y: -728px;
$sns-review-title-width: 253px;
$sns-review-title-height: 47px;
$sns-review-title-total-width: 1628px;
$sns-review-title-total-height: 1407px;
$sns-review-title-image: '/m/images/sprite.png?1557711905719';
$sns-review-title: (883px, 728px, -883px, -728px, 253px, 47px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'sns_review_title', );
$special-course-title-name: 'special_course_title';
$special-course-title-x: 938px;
$special-course-title-y: 1097px;
$special-course-title-offset-x: -938px;
$special-course-title-offset-y: -1097px;
$special-course-title-width: 197px;
$special-course-title-height: 34px;
$special-course-title-total-width: 1628px;
$special-course-title-total-height: 1407px;
$special-course-title-image: '/m/images/sprite.png?1557711905719';
$special-course-title: (938px, 1097px, -938px, -1097px, 197px, 34px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'special_course_title', );
$tit-apply-online-seminars-name: 'tit-apply_online_seminars';
$tit-apply-online-seminars-x: 883px;
$tit-apply-online-seminars-y: 624px;
$tit-apply-online-seminars-offset-x: -883px;
$tit-apply-online-seminars-offset-y: -624px;
$tit-apply-online-seminars-width: 364px;
$tit-apply-online-seminars-height: 84px;
$tit-apply-online-seminars-total-width: 1628px;
$tit-apply-online-seminars-total-height: 1407px;
$tit-apply-online-seminars-image: '/m/images/sprite.png?1557711905719';
$tit-apply-online-seminars: (883px, 624px, -883px, -624px, 364px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit-apply_online_seminars', );
$tit-fee-name: 'tit-fee';
$tit-fee-x: 460px;
$tit-fee-y: 153px;
$tit-fee-offset-x: -460px;
$tit-fee-offset-y: -153px;
$tit-fee-width: 365px;
$tit-fee-height: 96px;
$tit-fee-total-width: 1628px;
$tit-fee-total-height: 1407px;
$tit-fee-image: '/m/images/sprite.png?1557711905719';
$tit-fee: (460px, 153px, -460px, -153px, 365px, 96px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit-fee', );
$tit-salaryman-name: 'tit-salaryman';
$tit-salaryman-x: 883px;
$tit-salaryman-y: 208px;
$tit-salaryman-offset-x: -883px;
$tit-salaryman-offset-y: -208px;
$tit-salaryman-width: 364px;
$tit-salaryman-height: 84px;
$tit-salaryman-total-width: 1628px;
$tit-salaryman-total-height: 1407px;
$tit-salaryman-image: '/m/images/sprite.png?1557711905719';
$tit-salaryman: (883px, 208px, -883px, -208px, 364px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit-salaryman', );
$tit-term-name: 'tit-term';
$tit-term-x: 460px;
$tit-term-y: 269px;
$tit-term-offset-x: -460px;
$tit-term-offset-y: -269px;
$tit-term-width: 388px;
$tit-term-height: 79px;
$tit-term-total-width: 1628px;
$tit-term-total-height: 1407px;
$tit-term-image: '/m/images/sprite.png?1557711905719';
$tit-term: (460px, 269px, -460px, -269px, 388px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit-term', );
$tit-campusinfo-name: 'tit_campusinfo';
$tit-campusinfo-x: 883px;
$tit-campusinfo-y: 312px;
$tit-campusinfo-offset-x: -883px;
$tit-campusinfo-offset-y: -312px;
$tit-campusinfo-width: 364px;
$tit-campusinfo-height: 84px;
$tit-campusinfo-total-width: 1628px;
$tit-campusinfo-total-height: 1407px;
$tit-campusinfo-image: '/m/images/sprite.png?1557711905719';
$tit-campusinfo: (883px, 312px, -883px, -312px, 364px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit_campusinfo', );
$tit-eplg-name: 'tit_eplg';
$tit-eplg-x: 883px;
$tit-eplg-y: 0px;
$tit-eplg-offset-x: -883px;
$tit-eplg-offset-y: 0px;
$tit-eplg-width: 365px;
$tit-eplg-height: 84px;
$tit-eplg-total-width: 1628px;
$tit-eplg-total-height: 1407px;
$tit-eplg-image: '/m/images/sprite.png?1557711905719';
$tit-eplg: (883px, 0px, -883px, 0px, 365px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit_eplg', );
$tit-onlinecoun-name: 'tit_onlinecoun';
$tit-onlinecoun-x: 883px;
$tit-onlinecoun-y: 416px;
$tit-onlinecoun-offset-x: -883px;
$tit-onlinecoun-offset-y: -416px;
$tit-onlinecoun-width: 364px;
$tit-onlinecoun-height: 84px;
$tit-onlinecoun-total-width: 1628px;
$tit-onlinecoun-total-height: 1407px;
$tit-onlinecoun-image: '/m/images/sprite.png?1557711905719';
$tit-onlinecoun: (883px, 416px, -883px, -416px, 364px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit_onlinecoun', );
$tit-pf-name: 'tit_pf';
$tit-pf-x: 883px;
$tit-pf-y: 520px;
$tit-pf-offset-x: -883px;
$tit-pf-offset-y: -520px;
$tit-pf-width: 364px;
$tit-pf-height: 84px;
$tit-pf-total-width: 1628px;
$tit-pf-total-height: 1407px;
$tit-pf-image: '/m/images/sprite.png?1557711905719';
$tit-pf: (883px, 520px, -883px, -520px, 364px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit_pf', );
$tit-pg-name: 'tit_pg';
$tit-pg-x: 385px;
$tit-pg-y: 691px;
$tit-pg-offset-x: -385px;
$tit-pg-offset-y: -691px;
$tit-pg-width: 365px;
$tit-pg-height: 84px;
$tit-pg-total-width: 1628px;
$tit-pg-total-height: 1407px;
$tit-pg-image: '/m/images/sprite.png?1557711905719';
$tit-pg: (385px, 691px, -385px, -691px, 365px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit_pg', );
$tit-qna-name: 'tit_qna';
$tit-qna-x: 883px;
$tit-qna-y: 104px;
$tit-qna-offset-x: -883px;
$tit-qna-offset-y: -104px;
$tit-qna-width: 365px;
$tit-qna-height: 84px;
$tit-qna-total-width: 1628px;
$tit-qna-total-height: 1407px;
$tit-qna-image: '/m/images/sprite.png?1557711905719';
$tit-qna: (883px, 104px, -883px, -104px, 365px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit_qna', );
$tit-salaryman2-name: 'tit_salaryman2';
$tit-salaryman2-x: 0px;
$tit-salaryman2-y: 795px;
$tit-salaryman2-offset-x: 0px;
$tit-salaryman2-offset-y: -795px;
$tit-salaryman2-width: 364px;
$tit-salaryman2-height: 84px;
$tit-salaryman2-total-width: 1628px;
$tit-salaryman2-total-height: 1407px;
$tit-salaryman2-image: '/m/images/sprite.png?1557711905719';
$tit-salaryman2: (0px, 795px, 0px, -795px, 364px, 84px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'tit_salaryman2', );
$title-ci-name: 'title_ci';
$title-ci-x: 0px;
$title-ci-y: 1097px;
$title-ci-offset-x: 0px;
$title-ci-offset-y: -1097px;
$title-ci-width: 364px;
$title-ci-height: 79px;
$title-ci-total-width: 1628px;
$title-ci-total-height: 1407px;
$title-ci-image: '/m/images/sprite.png?1557711905719';
$title-ci: (0px, 1097px, 0px, -1097px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'title_ci', );
$title-mobile-brochure-name: 'title_mobile_brochure';
$title-mobile-brochure-x: 384px;
$title-mobile-brochure-y: 1097px;
$title-mobile-brochure-offset-x: -384px;
$title-mobile-brochure-offset-y: -1097px;
$title-mobile-brochure-width: 364px;
$title-mobile-brochure-height: 79px;
$title-mobile-brochure-total-width: 1628px;
$title-mobile-brochure-total-height: 1407px;
$title-mobile-brochure-image: '/m/images/sprite.png?1557711905719';
$title-mobile-brochure: (384px, 1097px, -384px, -1097px, 364px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'title_mobile_brochure', );
$unemployed-application-title-name: 'unemployed_application_title';
$unemployed-application-title-x: 0px;
$unemployed-application-title-y: 403px;
$unemployed-application-title-offset-x: 0px;
$unemployed-application-title-offset-y: -403px;
$unemployed-application-title-width: 444px;
$unemployed-application-title-height: 79px;
$unemployed-application-title-total-width: 1628px;
$unemployed-application-title-total-height: 1407px;
$unemployed-application-title-image: '/m/images/sprite.png?1557711905719';
$unemployed-application-title: (0px, 403px, 0px, -403px, 444px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'unemployed_application_title', );
$unemployed-title-name: 'unemployed_title';
$unemployed-title-x: 464px;
$unemployed-title-y: 403px;
$unemployed-title-offset-x: -464px;
$unemployed-title-offset-y: -403px;
$unemployed-title-width: 378px;
$unemployed-title-height: 79px;
$unemployed-title-total-width: 1628px;
$unemployed-title-total-height: 1407px;
$unemployed-title-image: '/m/images/sprite.png?1557711905719';
$unemployed-title: (464px, 403px, -464px, -403px, 378px, 79px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'unemployed_title', );
$unemployed-title-new-name: 'unemployed_title_new';
$unemployed-title-new-x: 0px;
$unemployed-title-new-y: 250px;
$unemployed-title-new-offset-x: 0px;
$unemployed-title-new-offset-y: -250px;
$unemployed-title-new-width: 403px;
$unemployed-title-new-height: 133px;
$unemployed-title-new-total-width: 1628px;
$unemployed-title-new-total-height: 1407px;
$unemployed-title-new-image: '/m/images/sprite.png?1557711905719';
$unemployed-title-new: (0px, 250px, 0px, -250px, 403px, 133px, 1628px, 1407px, '/m/images/sprite.png?1557711905719', 'unemployed_title_new', );
$spritesheet-width: 1628px;
$spritesheet-height: 1407px;
$spritesheet-image: '/m/images/sprite.png?1557711905719';
$spritesheet-sprites: ($announce-title, $anonymous, $arr-left, $arr-right, $brandstory-title, $btn-map-add, $campus-info-title, $cert-info-title, $class-information-title, $company-edu-content2-title-img, $company-edu-title, $counsel-title, $curri-img01-new, $employed-title, $employed-title-new, $ep-bg, $ep-title, $footer-ico1, $footer-ico2, $history-title, $hrd-search-title, $ico-insta, $ico-nblog, $ico-ntv, $icon-facebook, $icon-mobile-notice, $icon-navertv, $l-menu-brochure, $l-menu-employed, $l-menu-img1, $l-menu-img3, $l-menu-img4, $l-menu-img5, $l-menu-logo, $l-menu-reception, $l-menu-unemployed, $left-menu-edu, $m-footer-logo2, $m-main-logo, $m-portfolio-title, $m-teacher-left-arrow, $m-teacher-right-arrow, $mark-3year, $privacyp-title, $quick-btn, $r-box-down-arr, $review-icon1-1, $review-icon1-2, $review-icon1-3, $review-icon2-1, $review-icon2-2, $review-icon2-3, $review-icon3-1, $review-icon3-2, $review-icon3-3, $review-icon4-1, $review-icon4-2, $review-icon4-3, $review-icon5-1, $review-icon5-2, $review-icon5-3, $review-icon6-1, $review-icon6-2, $review-icon6-3, $review-icon7-1, $review-icon7-2, $review-icon7-3, $sns-review-title, $special-course-title, $tit-apply-online-seminars, $tit-fee, $tit-salaryman, $tit-term, $tit-campusinfo, $tit-eplg, $tit-onlinecoun, $tit-pf, $tit-pg, $tit-qna, $tit-salaryman2, $title-ci, $title-mobile-brochure, $unemployed-application-title, $unemployed-title, $unemployed-title-new, );
$spritesheet: (1628px, 1407px, '/m/images/sprite.png?1557711905719', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
