.apply_online_seminars_left {
  @include ir($apply-online-seminars-quickmenu);
  display:block;
  margin: 15px auto;
  > a {
    display:block;
    width: 125px;
    height: 116px;
  }
}
#apply-online-seminars {
  padding: 70px 0 80px;
  #empApplication {
    padding:0;
  }
  .noticeTitle {
    text-align:center;
    .noticeH2{
      @include ir($apply-online-seminars-title);
      margin:0 auto;
    }
  }
  .banner-container{
    height:352px;
    background-color:#e7f3ff;
    position:relative;
    margin-bottom:80px;
    .banner {
      @include ir($apply-online-seminars-back);
      width:100%;
      max-width:1900px;
      margin:0 auto;
      display:block;
      position:relative;
      text-indent:0;
      overflow:inherit;
      .banner-inner{
        width:1050px;
        display:block;
        margin:0 auto;
        position:relative;
        height:352px;
        .teacher-img {
          position: absolute;
          top: 0;
          z-index: 3;
          left: 310px;
          margin-left:0;
        }
        .text{
          position:absolute;
          z-index:3;
          text-indent:0;
          letter-spacing: -1px;
          &.text01{
            @include ir($apply-online-seminars-logo);
            left: 10px;
            top: 16px;
          }
          &.text02{
            left: 20px;
            font-weight: 900;
            font-size: 59px;
            top: 100px;
            color: #000;
            line-height: 1.2;
            &:before{
              content:"";
              width:42px;
              height:7px;
              background-color:#fab151;
              position:absolute;
              left:0;
              top:-15px;
            }
          }
          &.text03{
            color:#8f979e;
            font-size:16px;
            left:23px;
            top:193px;
          }

          &.text04{
            color:#454545;
            font-size:28px;
            left:750px;
            top:137px;
            line-height:1.35;
            font-weight:300;
            > strong{
            font-weight:500;
            }
            > small {
              display:inline-block;
              color:#fff;
              background-color:#84888c;
              font-size:18px;
              font-weight:400;
              padding: 2px 5px;
            }
          }
          &.text05{
            font-size:21px;
            color:#5c360e;
            left:750px;
            top:30px;
            line-height:1.15;
            > small{
              font-weight:400;
              font-size:15px;
            }
          }

        }
      }
    }
    .line-banner{
      width:100%;
      background-color:#fab151;
      height:75px;
      bottom:0;
      position:absolute;
      left:0;
      z-index:2;
      .container{
        width: 1050px;
        margin: 0 auto;
        height: 75px;
        display: block;
        position: relative;
        .text.text06{
          .left{
            position: absolute;
            left: 27px;
            color: #333333;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.15;
            letter-spacing: -1px;
            top: 18px;
            > strong{
              color:#000;
            }
          }
          .right{
            position: absolute;
            left: 750px;
            color: #000;
            font-size: 31px;
            font-weight: 700;
            letter-spacing: -1px;
            line-height: 1.15;
            top: -3px;
            > small{
              font-size:13px;
              color:#333333;
              font-weight:400;
            }
          }
        }

      }
    }

  }

}
