@font-face {
  font-family: 'Rix Gothic';
  src: local('RixGothicB'), local('RixGothicB'),
  url(/common/fonts/eot/RixGothicB.eot),
  url(/common/fonts/eot/RixGothicB?#iefix) format('embedded-opentype'),
  url(/common/fonts/woff/RixGothicB.woff) format('woff'),
  url(/common/fonts/otf/RixGothicB.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Thin'), local('NotoSans-Thin'),
  url(/common/fonts/eot/NotoSansKR-Thin-Hestia.eot),
  url(/common/fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/common/fonts/woff/NotoSansKR-Thin-Hestia.woff) format('woff'),
  url(/common/fonts/otf/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light'),
  url(/common/fonts/eot/NotoSansKR-Light-Hestia.eot),
  url(/common/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/common/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
  url(/common/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 350;
  src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
  url(/common/fonts/eot/NotoSansKR-DemiLight-Hestia.eot),
  url(/common/fonts/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/common/fonts/woff/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
  url(/common/fonts/otf/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
  url(/common/fonts/eot/NotoSansKR-Regular-Hestia.eot),
  url(/common/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/common/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
  url(/common/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'),
  url(/common/fonts/eot/NotoSansKR-Medium-Hestia.eot),
  url(/common/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/common/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
  url(/common/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
  url(/common/fonts/eot/NotoSansKR-Bold-Hestia.eot),
  url(/common/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/common/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
  url(/common/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Black'), local('NotoSans-Black'),
  url(/common/fonts/eot/NotoSansKR-Black-Hestia.eot),
  url(/common/fonts/eot/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
  url(/common/fonts/woff/NotoSansKR-Black-Hestia.woff) format('woff'),
  url(/common/fonts/otf/NotoSansKR-Black-Hestia.otf) format('opentype');
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.noto {
  font-family: 'Noto Sans Korean', sans-serif;
}
.opensans {
  font-family: 'Open Sans', sans-serif;
}
.rixg {
  font-family: 'Rix Gothic', sans-serif;
}