// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$close12x11-name: 'close12x11';
$close12x11-x: 1137px;
$close12x11-y: 440px;
$close12x11-offset-x: -1137px;
$close12x11-offset-y: -440px;
$close12x11-width: 12px;
$close12x11-height: 11px;
$close12x11-total-width: 1160px;
$close12x11-total-height: 745px;
$close12x11-image: '/images/sprites/home/sprite.png';
$close12x11: (1137px, 440px, -1137px, -440px, 12px, 11px, 1160px, 745px, '/images/sprites/home/sprite.png', 'close12x11', );
$close-layer-name: 'close_layer';
$close-layer-x: 1138px;
$close-layer-y: 377px;
$close-layer-offset-x: -1138px;
$close-layer-offset-y: -377px;
$close-layer-width: 16px;
$close-layer-height: 16px;
$close-layer-total-width: 1160px;
$close-layer-total-height: 745px;
$close-layer-image: '/images/sprites/home/sprite.png';
$close-layer: (1138px, 377px, -1138px, -377px, 16px, 16px, 1160px, 745px, '/images/sprites/home/sprite.png', 'close_layer', );
$con7-title-name: 'con7_title';
$con7-title-x: 305px;
$con7-title-y: 405px;
$con7-title-offset-x: -305px;
$con7-title-offset-y: -405px;
$con7-title-width: 261px;
$con7-title-height: 56px;
$con7-title-total-width: 1160px;
$con7-title-total-height: 745px;
$con7-title-image: '/images/sprites/home/sprite.png';
$con7-title: (305px, 405px, -305px, -405px, 261px, 56px, 1160px, 745px, '/images/sprites/home/sprite.png', 'con7_title', );
$employed-btn-name: 'employed_btn';
$employed-btn-x: 530px;
$employed-btn-y: 0px;
$employed-btn-offset-x: -530px;
$employed-btn-offset-y: 0px;
$employed-btn-width: 508px;
$employed-btn-height: 385px;
$employed-btn-total-width: 1160px;
$employed-btn-total-height: 745px;
$employed-btn-image: '/images/sprites/home/sprite.png';
$employed-btn: (530px, 0px, -530px, 0px, 508px, 385px, 1160px, 745px, '/images/sprites/home/sprite.png', 'employed_btn', );
$ezen-teacher-name: 'ezen_teacher';
$ezen-teacher-x: 1058px;
$ezen-teacher-y: 377px;
$ezen-teacher-offset-x: -1058px;
$ezen-teacher-offset-y: -377px;
$ezen-teacher-width: 15px;
$ezen-teacher-height: 105px;
$ezen-teacher-total-width: 1160px;
$ezen-teacher-total-height: 745px;
$ezen-teacher-image: '/images/sprites/home/sprite.png';
$ezen-teacher: (1058px, 377px, -1058px, -377px, 15px, 105px, 1160px, 745px, '/images/sprites/home/sprite.png', 'ezen_teacher', );
$main-ep-bg-name: 'main_ep_bg';
$main-ep-bg-x: 0px;
$main-ep-bg-y: 405px;
$main-ep-bg-offset-x: 0px;
$main-ep-bg-offset-y: -405px;
$main-ep-bg-width: 285px;
$main-ep-bg-height: 340px;
$main-ep-bg-total-width: 1160px;
$main-ep-bg-total-height: 745px;
$main-ep-bg-image: '/images/sprites/home/sprite.png';
$main-ep-bg: (0px, 405px, 0px, -405px, 285px, 340px, 1160px, 745px, '/images/sprites/home/sprite.png', 'main_ep_bg', );
$port-m-bg-name: 'port_m_bg';
$port-m-bg-x: 1058px;
$port-m-bg-y: 0px;
$port-m-bg-offset-x: -1058px;
$port-m-bg-offset-y: 0px;
$port-m-bg-width: 102px;
$port-m-bg-height: 357px;
$port-m-bg-total-width: 1160px;
$port-m-bg-total-height: 745px;
$port-m-bg-image: '/images/sprites/home/sprite.png';
$port-m-bg: (1058px, 0px, -1058px, 0px, 102px, 357px, 1160px, 745px, '/images/sprites/home/sprite.png', 'port_m_bg', );
$port-m-ico-e-name: 'port_m_ico_e';
$port-m-ico-e-x: 1093px;
$port-m-ico-e-y: 440px;
$port-m-ico-e-offset-x: -1093px;
$port-m-ico-e-offset-y: -440px;
$port-m-ico-e-width: 24px;
$port-m-ico-e-height: 27px;
$port-m-ico-e-total-width: 1160px;
$port-m-ico-e-total-height: 745px;
$port-m-ico-e-image: '/images/sprites/home/sprite.png';
$port-m-ico-e: (1093px, 440px, -1093px, -440px, 24px, 27px, 1160px, 745px, '/images/sprites/home/sprite.png', 'port_m_ico_e', );
$port-m-left-arrow-name: 'port_m_left_arrow';
$port-m-left-arrow-x: 1093px;
$port-m-left-arrow-y: 377px;
$port-m-left-arrow-offset-x: -1093px;
$port-m-left-arrow-offset-y: -377px;
$port-m-left-arrow-width: 25px;
$port-m-left-arrow-height: 43px;
$port-m-left-arrow-total-width: 1160px;
$port-m-left-arrow-total-height: 745px;
$port-m-left-arrow-image: '/images/sprites/home/sprite.png';
$port-m-left-arrow: (1093px, 377px, -1093px, -377px, 25px, 43px, 1160px, 745px, '/images/sprites/home/sprite.png', 'port_m_left_arrow', );
$port-m-right-arrow-name: 'port_m_right_arrow';
$port-m-right-arrow-x: 1058px;
$port-m-right-arrow-y: 502px;
$port-m-right-arrow-offset-x: -1058px;
$port-m-right-arrow-offset-y: -502px;
$port-m-right-arrow-width: 25px;
$port-m-right-arrow-height: 43px;
$port-m-right-arrow-total-width: 1160px;
$port-m-right-arrow-total-height: 745px;
$port-m-right-arrow-image: '/images/sprites/home/sprite.png';
$port-m-right-arrow: (1058px, 502px, -1058px, -502px, 25px, 43px, 1160px, 745px, '/images/sprites/home/sprite.png', 'port_m_right_arrow', );
$special-course-more-name: 'special_course_more';
$special-course-more-x: 1103px;
$special-course-more-y: 502px;
$special-course-more-offset-x: -1103px;
$special-course-more-offset-y: -502px;
$special-course-more-width: 25px;
$special-course-more-height: 19px;
$special-course-more-total-width: 1160px;
$special-course-more-total-height: 745px;
$special-course-more-image: '/images/sprites/home/sprite.png';
$special-course-more: (1103px, 502px, -1103px, -502px, 25px, 19px, 1160px, 745px, '/images/sprites/home/sprite.png', 'special_course_more', );
$teacher-m-black-name: 'teacher_m_black';
$teacher-m-black-x: 1058px;
$teacher-m-black-y: 565px;
$teacher-m-black-offset-x: -1058px;
$teacher-m-black-offset-y: -565px;
$teacher-m-black-width: 40px;
$teacher-m-black-height: 2px;
$teacher-m-black-total-width: 1160px;
$teacher-m-black-total-height: 745px;
$teacher-m-black-image: '/images/sprites/home/sprite.png';
$teacher-m-black: (1058px, 565px, -1058px, -565px, 40px, 2px, 1160px, 745px, '/images/sprites/home/sprite.png', 'teacher_m_black', );
$teacher-m-gray-name: 'teacher_m_gray';
$teacher-m-gray-x: 1103px;
$teacher-m-gray-y: 541px;
$teacher-m-gray-offset-x: -1103px;
$teacher-m-gray-offset-y: -541px;
$teacher-m-gray-width: 40px;
$teacher-m-gray-height: 2px;
$teacher-m-gray-total-width: 1160px;
$teacher-m-gray-total-height: 745px;
$teacher-m-gray-image: '/images/sprites/home/sprite.png';
$teacher-m-gray: (1103px, 541px, -1103px, -541px, 40px, 2px, 1160px, 745px, '/images/sprites/home/sprite.png', 'teacher_m_gray', );
$unemployed-btn-name: 'unemployed_btn';
$unemployed-btn-x: 0px;
$unemployed-btn-y: 0px;
$unemployed-btn-offset-x: 0px;
$unemployed-btn-offset-y: 0px;
$unemployed-btn-width: 510px;
$unemployed-btn-height: 385px;
$unemployed-btn-total-width: 1160px;
$unemployed-btn-total-height: 745px;
$unemployed-btn-image: '/images/sprites/home/sprite.png';
$unemployed-btn: (0px, 0px, 0px, 0px, 510px, 385px, 1160px, 745px, '/images/sprites/home/sprite.png', 'unemployed_btn', );
$spritesheet-width: 1160px;
$spritesheet-height: 745px;
$spritesheet-image: '/images/sprites/home/sprite.png';
$spritesheet-sprites: ($close12x11, $close-layer, $con7-title, $employed-btn, $ezen-teacher, $main-ep-bg, $port-m-bg, $port-m-ico-e, $port-m-left-arrow, $port-m-right-arrow, $special-course-more, $teacher-m-black, $teacher-m-gray, $unemployed-btn, );
$spritesheet: (1160px, 745px, '/images/sprites/home/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
