#employment-promotion {
  .container-fluid{
    width:100%;
  }
  .container{
    width:1050px;
    margin:0 auto;
    border:1px solid red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .section01{
    &.container-fluid{
      background-color:#515151;
      .container{
        position:relative;
        height:594px;
        .circle-box{
          position:absolute;
          width: 514px;
          height: 546px;
          left:50%;
          margin-left:-245px;//-245px;
          top:50%;
          margin-top:-255px;
          transform: scale(0);
          z-index:1;
          .circle-inner{
            position:relative;
            width:514px;
            height:480px;
            z-index:2;
            .circle-text{
              position:absolute;
              &.circle-text01{
                left:108px;
                bottom:180px;
                width:290px;
                height:0;
              }
              &.circle-text02{
                left:62px;
                top: 230px;
                width:0;
                height:130px;
              }
              &.circle-text03{
                left:84px;
                top:318px;
                transform:scale(3);
                opacity:0;

              }
            }
          }
        }
        .main-text{
          position:absolute;
          color:#c4cbcb;
          font-weight:300;
          font-size:17px;
          letter-spacing:-1px;
          &.main-text01{
            width:285px;
            top:75px;
            left:0;
          }
          &.main-text02{
            width: 385px;
            top: 82px;
            left: 770px;
          }
          &.main-text03{
            width:307px;
            top:403px;
            left:24px;
          }
          &.main-text04{
            width:346px;
            top:429px;
            left:730px;
          }
          &.active{
            font-size:21px;
            color:#fff;
            font-weight:400;
            text-decoration: underline;
          }
        }
      }
    }
  }



  /* EFFECTS
  ***************/

  .glow {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
  }

  .glow.in {
    text-shadow:
            0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8),
            0 0 0.5em rgba(255, 255, 255, 0.3);
  }

  .fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
  }

  .fade.in {
    opacity: 1;
  }

}